@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Light.woff2") format("woff2"), url("../fonts/AtypText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Medium.woff2") format("woff2"), url("../fonts/AtypText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Regular.woff2") format("woff2"), url("../fonts/AtypText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Semibold.woff2") format("woff2"), url("../fonts/AtypText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Bold.woff2") format("woff2"), url("../fonts/Ruberoid-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-ExtraBold.woff2") format("woff2"), url("../fonts/Ruberoid-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Bold.woff2") format("woff2"), url("../fonts/AtypText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Medium.woff2") format("woff2"), url("../fonts/Ruberoid-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Regular.woff2") format("woff2"), url("../fonts/Ruberoid-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-SemiBold.woff2") format("woff2"), url("../fonts/Ruberoid-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Light.woff2") format("woff2"), url("../fonts/Ruberoid-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Light.woff2") format("woff2"), url("../fonts/AtypText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Medium.woff2") format("woff2"), url("../fonts/AtypText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Regular.woff2") format("woff2"), url("../fonts/AtypText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Semibold.woff2") format("woff2"), url("../fonts/AtypText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Bold.woff2") format("woff2"), url("../fonts/Ruberoid-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-ExtraBold.woff2") format("woff2"), url("../fonts/Ruberoid-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AtypText;
  font-display: swap;
  src: url("../fonts/AtypText-Bold.woff2") format("woff2"), url("../fonts/AtypText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Medium.woff2") format("woff2"), url("../fonts/Ruberoid-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Regular.woff2") format("woff2"), url("../fonts/Ruberoid-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-SemiBold.woff2") format("woff2"), url("../fonts/Ruberoid-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Ruberoid;
  font-display: swap;
  src: url("../fonts/Ruberoid-Light.woff2") format("woff2"), url("../fonts/Ruberoid-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --white: #FFFFFF;
  --dark: #121010;
  --main: #AC262F;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 400 16px/1.4 AtypText;
  color: var(--white, #FFFFFF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  text-rendering: optimizeSpeed;
  background-color: var(--dark, #121010);
}

section {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--main, #AC262F);
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul ul {
  margin-left: 24px;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 95.3%;
  padding: 0 16px;
  margin: 0 auto;
}

input,
select,
textarea {
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--white, #FFFFFF);
  color: var(--white, #FFFFFF);
  background-color: transparent;
  line-height: 1;
}

input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea {
  resize: none;
  height: 90px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}

.button-line::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 50%;
  top: calc(100% + 7px);
  transform: translateX(-50%);
  border-bottom: 2px solid var(--white, #FFFFFF);
  animation: showBorder 0.5s ease forwards;
}

.button-line:hover::after {
  animation: showBorderOut 0.75s ease forwards;
}

.button:hover:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

@keyframes showBorder {
  0% {
    transform: translateX(-100%) scaleX(0);
  }

  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes showBorderOut {
  0% {
    transform: translateX(-50%) scaleX(1);
  }

  100% {
    transform: translateX(0) scaleX(0);
  }
}

.title {
  font: 500 24px/1 Ruberoid;
}

.title-lg {
  font-size: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ruberoid;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--main, #AC262F);
  transition: transform 0.5s ease;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 24px 0;
}

.header__top {
  display: flex;
  align-items: center;
  gap: 125px;
}

.header__logo {
  width: 110px;
  height: 30px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 125px;
}

.header__info a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  line-height: 1;
}

.header__info a svg {
  transition: transform 0.3s ease-out;
}

.header__info a:hover svg {
  transform: translateX(8px);
}

.header__button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  text-align: end;
  text-transform: uppercase;
  line-height: 1.2em;
}

.header__button svg {
  transition: transform 0.3s ease-out;
}

.header__button:hover svg {
  transform: translateX(12px);
}

.header__nav {
  transition: all 0.2s ease-in-out;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
}

.header__menu a {
  position: relative;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
  transition: all 0.2s ease-in-out;
}

.header__menu a.primary {
  padding-right: 12px;
}

.header__menu a.primary::after {
  content: "";
  position: absolute;
  top: 52%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--white, #FFFFFF);
}

.header__burger {
  position: relative;
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__burger span {
  position: absolute;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  pointer-events: none;
  background-color: var(--white, #FFFFFF);
  transition: all 0.2s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: 0;
}

.header__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger span:nth-child(3) {
  bottom: 0;
}

.header__burger.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.header__burger.active span:nth-child(2) {
  display: none;
}

.header__burger.active span:nth-child(3) {
  bottom: unset;
  top: 10px;
  transform: rotate(-45deg);
}

.header.hidden {
  transition: transform 0.5s ease !important;
  transform: translateY(-60%) !important;
}

.footer {
  position: relative;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 74px;
  padding-bottom: 90px;
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  row-gap: 32px;
}

.footer__logo {
  max-width: 317px;
  max-height: 86px;
  width: 22vw;
  height: 6vw;
  min-width: 88px;
  min-height: 24px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 170px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 1;
}

.footer__menu a {
  transition: color 0.3s ease-out;
}

.footer__menu a:hover {
  color: var(--main, #AC262F);
}

.footer__col {
  margin: 0;
  margin-left: auto;
}

.footer__address {
  align-self: end;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: auto;
}

.footer__info a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  min-width: 170px;
  line-height: 1;
  transition: color 0.3s ease-out;
}

.footer__info a svg {
  transition: transform 0.3s ease-out;
}

.footer__info a path {
  transition: stroke 0.3s ease-out;
}

.footer__info a:hover {
  color: var(--main, #AC262F);
}

.footer__info a:hover svg {
  transform: translateX(8px);
}

.footer__info a:hover path {
  stroke: var(--main, #AC262F);
}

.footer__copy {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
}

.footer__copy a {
  transition: color 0.3s ease-out;
}

.footer__copy a:hover {
  color: var(--main, #AC262F);
}

.footer .button-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background-color: var(--main, #AC262F);
  border: none;
  border-radius: 100%;
  transition: top 0.3s ease-out;
  cursor: pointer;
  z-index: 5;
}

.footer .button-up:hover {
  top: -10px;
}

.footer .line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.breadcrumbs {
  padding-top: 50px;
}

.breadcrumbs__container {
  overflow-y: hidden;
  overflow-x: scroll;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: lowercase;
}

.breadcrumbs__list a {
  position: relative;
  display: block;
  color: rgba(235, 235, 245, 0.6);
  transition: color 0.3s ease-out;
}

.breadcrumbs__list a::after {
  content: "|";
  padding-left: 16px;
  color: rgba(235, 235, 245, 0.6);
}

.breadcrumbs__list a:hover {
  color: var(--main, #AC262F);
}

.section-pad {
  padding: 140px 0;
}

.section-pad-top {
  padding-top: 140px;
}

.section-pad-bottom {
  padding-bottom: 140px;
}

.section-hidden {
  overflow: hidden;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 50px;
}

.title {
  font: 500 24px/1 Ruberoid;
}

.title-lg {
  font-size: 64px;
}

.text-up {
  text-transform: uppercase;
}

.text-down {
  text-transform: lowercase;
}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination a,
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: rgba(235, 235, 245, 0.6);
  border-bottom: 1px solid var(--main, #AC262F);
  line-height: 1;
  font-family: Ruberoid;
}

.pagination a {
  position: relative;
  transition: color 0.3s ease-out;
}

.pagination a.active {
  background: linear-gradient(0deg, rgba(191, 40, 50, 0.3) 0%, rgba(18, 16, 16, 0.3) 100%);
  pointer-events: none;
}

.pagination a path {
  transition: fill 0.3s ease-out;
}

.pagination a:hover:not(.active) {
  color: var(--main, #AC262F);
}

.pagination a:hover:not(.active) path {
  fill: var(--main, #AC262F);
}

.pagination .prev,
.pagination .next {
  border-color: transparent;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-list {
  overflow: visible;
}

.widjet__box {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.widjet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 10px;
  background: var(--main, #AC262F);
  box-shadow: 0;
  transition: box-shadow 0.3s ease-out;
}

.widjet svg {
  transition: transform 0.3s ease-out;
}

.widjet-wp {
  border-radius: 4px 0px 0px 0px;
  border-bottom: 1px solid #FFF;
}

.widjet-tel {
  border-radius: 0px 0px 0px 4px;
}

.widjet:hover {
  box-shadow: 0px 0px 24px 0px #AC262F;
}

.widjet:hover svg {
  transform: scale(1.05);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.tabs__nav {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  width: 33%;
}

.tabs__nav .trigger {
  position: relative;
  min-height: 70px;
  padding: 22px 0;
  padding-left: 36px;
  border-bottom: 1px solid #38383A;
}

.tabs__nav .trigger:first-of-type {
  border-top: 1px solid #38383A;
}

.tabs__nav .trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--white, #FFFFFF);
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 15px 5px;
  background: rgba(255, 255, 255, 0);
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
}

.tabs__nav .trigger.active {
  pointer-events: none;
}

.tabs__nav .trigger.active::before {
  box-shadow: rgb(255, 255, 255) 0px 0px 15px 5px;
  background: rgb(255, 255, 255);
}

.tabs__nav .trigger:hover:not(.active) {
  cursor: pointer;
}

.tabs__contents {
  flex-grow: 1;
  display: block;
  width: 60%;
  overflow: hidden;
}

.tabs__contents .targets {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.tabs__contents .targets .target {
  min-width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
}

.tabs__contents .targets .target.active {
  opacity: 1;
}

.accordion-container {
  padding-top: 20px;
  border-top: 1px solid var(--white, #ffffff);
}

.accordion-item {
  border-bottom: 1px solid var(--white, #ffffff);
  margin-bottom: 20px;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding-bottom: 20px;
  border: none;
  outline: 0;
  color: inherit;
  background: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.accordion-header .icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.accordion-header .icon svg {
  width: 30px;
  height: 30px;
}

.accordion-header.active .icon {
  transform: rotate(-180deg);
}

.accordion-caption {
  width: calc(33% - 24px);
}

.accordion-txt {
  max-width: 660px;
  color: rgba(235, 235, 245, 0.6);
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 67%;
  max-height: 0;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;
}

.accordion-btn {
  margin-bottom: 50px;
}

.accordion-btn svg {
  transition: transform 0.3s ease-out;
}

.accordion-btn:hover svg {
  transform: translateX(12px);
}

.cards {
  display: flex;
  align-items: center;
}

.cards .swiper-slide {
  width: 480px;
  height: 100%;
}

.card {
  min-width: 480px;
  height: 100%;
}

.main {
  overflow: hidden;
}

.main-portfolio-inner .breadcrumbs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-portfolio-inner .portfolio-page__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.main-portfolio-inner .portfolio-page__address {
  max-width: 328px;
  margin-left: unset;
}

.main-portfolio-inner .portfolio-page__link {
  margin-left: auto;
}

.hero {
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  min-height: calc(100vh - 200px);
  padding-top: 50px;
}

.hero__desc {
  max-width: 487px;
  font-family: Ruberoid;
  overflow: hidden;
}

.hero__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  overflow: hidden;
}

.hero__button {
  color: var(--main, #AC262F);
}

.hero__button svg {
  transition: transform 0.3s ease-out;
}

.hero__button:hover svg {
  transform: translateX(12px);
}

.hero__map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.hero__map svg {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.hero__map circle {
  animation: blink-circle 2s ease-out infinite;
}

@keyframes blink-circle {
  0% {
    fill: rgba(255, 255, 255, 0);
    filter: blur(0px);
  }

  50% {
    fill: rgb(255, 255, 255);
    filter: blur(2px) brightness(1.1);
  }

  100% {
    fill: rgba(255, 255, 255, 0);
    filter: blur(0px);
  }
}

.clients.active .container {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.clients__cards {
  width: 100%;
  height: 280px;
}

.clients__card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.clients__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: translate(-50%, -50%) skew(-35deg);
  max-width: 116px;
  max-height: 154px;
  width: 8vw;
  height: 10.7vw;
  min-width: 52px;
  min-height: 69px;
  box-shadow: 0px 0px 200px 50px rgba(172, 38, 47, 0.7);
}

.clients__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark, #121010);
}

.clients__card img {
  position: relative;
  max-width: 203px;
  max-height: 71px;
  width: 14vw;
  height: 4vw;
  min-width: 113px;
  min-height: 39px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.clients-page__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  height: auto;
}

.clients-page .clients__card {
  max-height: 277px;
  height: 19vw;
  min-height: 131px;
  width: 177px;
}

@keyframes smooth-glow {
  0% {
    box-shadow: 0px 0px 200px 50px rgba(172, 38, 47, 0.4);
    /* #AC262F */
  }

  33% {
    box-shadow: 0px 0px 250px 70px rgba(224, 33, 41, 0.6);
    /* #E02129 */
  }

  66% {
    box-shadow: 0px 0px 250px 70px rgba(209, 84, 0, 0.6);
    /* #D15400 */
  }

  100% {
    box-shadow: 0px 0px 200px 50px rgba(172, 38, 47, 0.4);
    /* #AC262F */
  }
}

.services.active .container {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.services__heading {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.services__cards {
  width: 100%;
  height: 498px;
}

.services__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px;
  border-radius: 0;
}

.services__card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 40%;
  box-shadow: 0px 0px 150px 25px #FF6A00, 0px 0px 100px 30px #FF6A00, 0px 0px 75px 20px #FF6A00, 0px 0px 50px 15px #FF6A00, 0px 0px 250px 30px #FF0033, 0px 0px 150px 25px #FF0033, 0px 0px 100px 20px #FF0033, 0px 0px 75px 15px #FF0033;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.services__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark, #121010);
}

.services__card:hover {
  cursor: pointer;
}

.services__card:hover::before {
  opacity: 1;
}

.services__card:hover .services__top {
  opacity: 1;
}

.services__top {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 22px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.services__icon {
  min-width: 163px;
}

.services__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.services__desc {
  max-width: 200px;
  color: rgba(255, 255, 255, 0.6);
}

.services__caption {
  position: relative;
  max-width: 230px;
  z-index: 1;
}

.services-page__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  width: auto;
  height: auto;
}

.services-page .services__card {
  max-height: 498px;
  height: 34vw;
  min-height: 257px;
}

.services-page .services__top {
  margin-bottom: 32px;
  opacity: 1;
}

.services-page .services__icon {
  height: 160px;
}

.services-inner__wrap {
  display: flex;
  gap: 24px;
}

.services-inner__col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}

.services-inner__left {
  width: 33%;
}

.services-inner__right {
  flex-grow: 1;
  width: 60%;
}

.services-inner__slider {
  position: relative;
  height: 504px;
  width: 100%;
}

.services-inner__slider_md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(18, 16, 16, 0.56) 0%, rgba(18, 16, 16, 0.56) 100%);
  z-index: 2;
}

.services-inner__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.services-inner__pagination {
  width: -moz-max-content;
  width: max-content;
}

.services-inner__arrow {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.services-inner__arrow svg {
  width: 100%;
  height: 100%;
}

.services-inner__button {
  margin-top: auto;
}

.services-inner__button svg {
  transition: transform 0.3s ease-out;
}

.services-inner__button:hover svg {
  transform: translateX(12px);
}

.services-inner__desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-steps__box {
  position: relative;
  width: 726px;
  height: 726px;
  margin: 0 auto;
}

.services-steps__item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-110%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 100%;
  visibility: hidden;
  z-index: 1;
}

.services-steps__item:nth-child(1) {
  width: 308px;
  height: 308px;
  z-index: 4;
  animation-delay: 0s;
}

.services-steps__item:nth-child(2) {
  width: 448px;
  height: 448px;
  z-index: 3;
  animation-delay: 1.5s;
}

.services-steps__item:nth-child(3) {
  width: 589px;
  height: 589px;
  z-index: 2;
  animation-delay: 3s;
}

.services-steps__item:nth-child(4) {
  animation-delay: 4.5s;
}

.services-steps__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 175px;
  width: 50%;
  border-radius: 100%;
  border: 1px solid rgba(191, 40, 50, 0.3);
  background: #121010;
  box-shadow: 0px 0px 255.074px 0px #A92C36, 0px 0px 145.757px 0px #A92C36, 0px 0px 85.025px 0px #A92C36, 0px 0px 42.512px 0px #A92C36, 0px 0px 12.146px 0px #A92C36, 0px 0px 6.073px 0px #A92C36;
  z-index: -1;
}

.services-steps__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(18, 16, 16, 0.67);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  z-index: -1;
}

.services-steps__item span {
  font-size: 20px;
  font-family: Ruberoid;
}

.services-steps .circle-path {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.services-steps text {
  font-size: 16px;
  fill: #fff;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

.services-steps.active .services-steps__item {
  animation: down 1.5s ease forwards;
}

.services-other .services__cards {
  display: block;
}

.services-other .services__card {
  gap: 12px;
  max-height: 498px;
  height: 34vw;
  min-height: 200px;
}

.services-other .services__top {
  opacity: 1;
}

.services-benefits .benefits__desc {
  opacity: 1;
}

.portfolio {
  position: relative;
  min-height: 100vh;
}

.portfolio__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
  width: 100%;
  overflow: visible;
  transform: translateY(calc(-100vh + 200px));
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 480px;
  margin: 0 auto;
}

.portfolio__card:hover {
  cursor: url("../img/cursor.svg"), pointer;
}

.portfolio__card:hover .portfolio__bottom {
  opacity: 1;
}

.portfolio__img {
  max-height: 524px;
  height: 36vw;
  min-height: 220px;
}

.portfolio__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  font-family: Ruberoid;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.portfolio__bottom div {
  flex: 0 1 calc(50% - 4px);
}

.portfolio__bottom div:nth-child(even) {
  text-align: end;
}

.portfolio__wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: conic-gradient(from 180deg at 50% 50%, #AC262F 0deg, #460F13 360deg);
}

.portfolio__marquee {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  gap: 24px;
  width: 100%;
  font-family: Ruberoid;
  font-size: 64px;
  overflow: hidden;
}

.portfolio__marquee .items {
  flex-shrink: 0;
  display: flex;
  gap: 24px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.portfolio__marquee .item {
  flex: 0 0 auto;
}

.portfolio-page__cards {
  display: flex;
  flex-direction: column;
}

.portfolio-page__card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 90px;
  min-height: 70px;
  padding: 18px 0;
  border-bottom: 1px solid #38383A;
}

.portfolio-page__card:first-of-type {
  border-top: 1px solid #38383A;
}

.portfolio-page__caption {
  color: rgba(235, 235, 245, 0.6);
}

.portfolio-page__address {
  max-width: 290px;
  min-width: 290px;
  margin-left: auto;
  line-height: 1;
}

.portfolio-page__link {
  color: rgba(255, 255, 255, 0.66);
}

.portfolio-page__link::after {
  top: calc(100% + 2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
}

.portfolio-inner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.portfolio-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(18, 16, 16, 0.72) 0%, rgba(18, 16, 16, 0.19) 100%);
  z-index: -1;
}

.portfolio-inner .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.portfolio-inner__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
  min-height: 550px;
}

.portfolio-inner__box {
  width: 33%;
}

.portfolio-inner__date {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #C6C6C8;
}

.portfolio-inner__date span:last-child {
  max-width: 245px;
  text-align: end;
}

.portfolio-inner__location {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.portfolio-inner__location span:last-child {
  max-width: 245px;
  text-align: end;
}

.portfolio-video {
  padding-top: 50px;
}

.portfolio-video__box {
  position: relative;
  max-width: 884px;
  height: 463px;
  margin: 0 auto;
  border: 1px solid #38383A;
}

.portfolio-video__box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 16, 16, 0.88);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 1;
}

.portfolio-video__box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background: url(../img/play.svg) center/contain no-repeat;
  z-index: 1;
}

.portfolio-video__box iframe {
  width: 100%;
  height: 100%;
}

.portfolio-video__box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-video__box.player img {
  display: none;
}

.portfolio-video__box.player::before,
.portfolio-video__box.player::after {
  content: none;
}

.portfolio-video__box:hover {
  cursor: pointer;
}

.portfolio-gallery__arrows {
  display: flex;
  align-items: center;
  gap: 16px;
}

.portfolio-gallery__arrow {
  width: 24px;
  height: 24px;
}

.portfolio-gallery__arrow svg {
  width: 100%;
  height: 100%;
}

.portfolio-gallery__arrow path {
  transition: fill 0.3s ease-out;
}

.portfolio-gallery__arrow:hover {
  cursor: pointer;
}

.portfolio-gallery__arrow:hover path {
  fill: var(--main, #AC262F);
}

.portfolio-gallery__slide {
  max-height: 600px;
  height: 27.3vw;
  min-height: 243px;
}

.portfolio-gallery__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback {
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: var(--dark, #121010);
}

.feedback__wrap {
  position: relative;
  max-width: 646px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 12px;
  background: #220E0E;
}

.feedback__wrap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 95px;
  height: 216px;
  background: #151111;
  background: linear-gradient(180deg, #581B1F 0%, #361718 48.83%, #180d0e 100%);
}

.feedback__wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 90%;
  height: 8%;
  border-radius: 43px;
  border: 1px solid var(--main, #AC262F);
  box-shadow: 0px 0px 600px 0px #AC2932, 0px 0px 450px 0px #AC2932, 0px 0px 200px 0px #AC2932, 0px 0px 110.16px 0px #AC2932, 0px 0px 55.08px 0px #AC2932;
  z-index: -1;
}

.feedback__flashlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.feedback__flashlight .glow {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
}

.feedback__flashlight .glow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.64);
  animation: blink 3.5s ease infinite;
  filter: drop-shadow(0px 0px 2.52px #FFF) drop-shadow(0px 5px 5.04px #FFF) drop-shadow(0px 15px 17.64px #FFF) drop-shadow(0px 15px 35.28px #FED2A9) drop-shadow(0px 35px 60.48px #FED2A9) drop-shadow(0px 27px 105.84px #FED2A9) drop-shadow(0px 27px 200px #FED2A9);
}

.feedback__flashlight .glow:nth-child(1)::after {
  animation-delay: 0.2s;
}

.feedback__flashlight .glow:nth-child(2)::after {
  animation-delay: 0.6s;
}

.feedback__flashlight .glow:nth-child(3)::after {
  animation-delay: 0.4s;
}

.feedback__box {
  position: relative;
  padding: 32px;
  background: var(--red, #AC262F);
  box-shadow: 0px 3px 24.5px -3px #FC1424 inset;
}

.feedback__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(63% 110.3% at 50% -10.3%, #FF535E 0%, #AB2630 83.62%);
  box-shadow: 0px 3px 24.5px -3px #FC1424 inset;
}

.feedback__caption {
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
}

.feedback form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 180px;
}

.feedback.active .feedback__wrap {
  transform: translateY(0);
}

.form {
  position: relative;
  z-index: 1;
}

.form-input {
  height: calc(28px + 1rem);
}

.form-button {
  margin-top: auto;
  color: var(--white, #FFFFFF);
  text-transform: uppercase;
  line-height: 1.2em;
}

.form-button svg {
  transition: transform 0.3s ease-out;
}

.form-button:hover svg {
  transform: translateX(12px);
}

.benefits.active .container {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.benefits__cards {
  width: 100%;
  height: 498px;
}

.benefits__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.benefits__card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 40%;
  box-shadow: 0px 0px 360.733px 0px #D15400, 0px 0px 180.366px 0px #D15400, 0px 0px 51.533px 0px #D15400, 0px 0px 25.767px 0px #D15400, 0px 0px 396.258px 0px #AC262F, 0px 0px 198.129px 0px #AC262F, 0px 0px 56.608px 0px #AC262F, 0px 0px 28.304px 0px #AC262F;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.benefits__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark, #121010);
}

.benefits__card:hover {
  cursor: pointer;
}

.benefits__card:hover::before {
  opacity: 1;
}

.benefits__card:hover .benefits__desc {
  opacity: 1;
}

.benefits__caption {
  position: relative;
  max-width: 55%;
  z-index: 1;
}

.benefits__desc {
  position: relative;
  max-width: 330px;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    transform: translateX(-50%) translateY(-110%);
    visibility: hidden;
  }

  100% {
    transform: translateX(-50%) translateY(0);
    visibility: visible;
  }
}

.vacancies-feedback__box {
  max-width: 430px;
  margin: 0 auto;
}

.vacancies-feedback__title {
  margin-bottom: 50px;
}

.vacancies-feedback form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.vacancies-feedback form button {
  margin-top: 18px;
}

.vacancies-feedback form input {
  border-bottom: 1px solid #38383A;
}

.file__conainer {
  position: relative;
  width: 100%;
  text-align: center;
}

.file__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid #38383A;
  background: transparent;
  overflow: hidden;
  border-radius: 0;
}

.file-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  color: rgba(235, 235, 245, 0.6);
  cursor: pointer;
}

.file-button svg {
  width: 100%;
  height: 100%;
}

.file-txt {
  display: flex;
  align-items: center;
  width: calc(100% - 24px);
  color: rgba(235, 235, 245, 0.6);
}

.file-done {
  display: none;
}

input.file {
  opacity: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border: 0;
}

input.file:hover {
  cursor: pointer;
}

.map__select {
  position: relative;
  border-bottom: 1px solid #fff;
}

.map__select select {
  min-width: 280px;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 12px;
  border-bottom: 0;
  border-radius: 0;
}

.map__select select:focus {
  outline: none;
}

.map__select option {
  color: var(--dark, #121010);
}

.map__select::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../img/filter.svg) center/contain no-repeat;
}

.map .popup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.map .popup-caption {
  font-size: 16px;
  font-weight: 400;
  font-family: "Atyp Text";
}

.map .popup-img {
  width: 100%;
  height: 150px;
}

.map .popup-txt {
  font-size: 14px;
  font-weight: 400;
  font-family: "Atyp Text";
}

.map .gm-style-cc {
  display: none;
}

.map .gm-style .gm-style-iw-c {
  padding: 16px !important;
  border-radius: 16px !important;
  background: rgb(18, 16, 16);
}

.map .gm-style-iw-chr {
  position: absolute;
  top: 0;
  right: 0;
}

.map .gm-style-iw-d {
  overflow: hidden !important;
}

.map .gm-style .gm-style-iw-tc::after {
  background: rgb(18, 16, 16);
}

.map .gm-ui-hover-effect > span {
  background-color: #fff;
}

#map {
  height: 70vh;
  width: 100%;
}

.contacts__wrap {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #FFF;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 430px;
  padding-top: 150px;
}

.contacts__group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  text-transform: uppercase;
}

.contacts__group span {
  color: rgba(235, 235, 245, 0.6);
}

.contacts__group a {
  text-decoration: underline;
  text-align: end;
  transition: color 0.3s ease-out;
}

.contacts__group a:hover {
  color: var(--main, #AC262F);
}

.contacts__map {
  position: absolute;
  bottom: 18px;
  right: 0;
  width: 734px;
}

.contacts__map img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 48px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Ruberoid;
  font-size: 24px;
  transition: color 0.3s ease-out;
}

.contacts__link path {
  transition: stroke 0.3s ease-out;
}

.contacts__link:hover {
  color: var(--main, #AC262F);
}

.contacts__link:hover path {
  stroke: var(--main, #AC262F);
}

.contacts__tel {
  font-family: Ruberoid;
  font-size: 96px;
  line-height: 1;
  transition: color 0.3s ease-out;
}

.contacts__tel:hover {
  color: var(--main, #AC262F);
}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news__card {
  display: flex;
  align-items: stretch;
  gap: 180px;
  padding-bottom: 24px;
  border-bottom: 1px solid #38383A;
}

.news__card:first-child {
  padding-top: 24px;
  border-top: 1px solid #38383A;
}

.news__caption {
  max-width: 354px;
  line-height: 1.1em;
  transition: color 0.3s ease-out;
}

.news__caption:hover {
  color: var(--main, #AC262F);
}

.news__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 245px;
  margin-left: auto;
}

.news__date {
  line-height: 1;
}

.news__txt {
  padding-bottom: 24px;
  border-bottom: 1px solid #38383A;
}

.news__more {
  margin-top: auto;
  transition: color 0.3s ease-out;
}

.news__more svg {
  transition: transform 0.3s ease-out;
}

.news__more path {
  transition: stroke 0.3s ease-out;
}

.news__more:hover {
  color: var(--main, #AC262F);
}

.news__more:hover svg {
  transform: translateX(8px);
}

.news__more:hover path {
  stroke: var(--main, #AC262F);
}

.news__img {
  width: 273px;
  min-width: 273px;
  height: 217px;
  overflow: hidden;
}

.news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-out;
}

.news__img:hover img {
  transform: scale(1.1);
}

.news-inner__title {
  max-width: 354px;
}

.news-inner__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.news-inner__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
  padding-right: 12px;
  border-right: 1px solid #38383A;
}

.news-inner__img {
  height: 524px;
}

.news-inner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-inner__desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-inner__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.news-inner__socials {
  display: flex;
  align-items: center;
  gap: 18px;
}

.news-inner__socials a {
  display: block;
  width: 24px;
  height: 24px;
}

.news-inner__socials a svg {
  width: 100%;
  height: 100%;
}

.news-inner__socials a path {
  transition: fill 0.3s ease-out;
}

.news-inner__socials a:hover {
  cursor: pointer;
}

.news-inner__socials a:hover path {
  fill: var(--main, #AC262F);
}

.news-inner__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 33%;
}

.news-inner__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-inner__caption {
  font-size: 16px;
  transition: color 0.3s ease-out;
}

.news-inner__caption:hover {
  color: var(--main, #AC262F);
}

.news-inner__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.news-inner__txt {
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #38383A;
}

.news-inner__more {
  transition: color 0.3s ease-out;
}

.news-inner__more svg {
  transition: transform 0.3s ease-out;
}

.news-inner__more path {
  transition: stroke 0.3s ease-out;
}

.news-inner__more:hover {
  color: var(--main, #AC262F);
}

.news-inner__more:hover svg {
  transform: translateX(8px);
}

.news-inner__more:hover path {
  stroke: var(--main, #AC262F);
}

.thanks__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 369px;
}

.thanks__caption {
  max-width: 166px;
  margin-bottom: 0;
}

.thanks__btn svg {
  transition: transform 0.3s ease-out;
}

.thanks__btn:hover svg {
  transform: translateX(8px);
}

.page-error {
  position: relative;
  min-height: 700px;
  overflow: hidden;
}

.page-error::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url(../img/404.svg) center/cover no-repeat;
}

.page-error__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}

.page-error__txt {
  color: rgba(235, 235, 245, 0.6);
}

.page-error__link svg {
  transition: transform 0.3s ease-out;
}

.page-error__link:hover svg {
  transform: translateX(8px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  padding: 32px;
  background: rgba(18, 16, 16, 0.7);
  z-index: 9;
  transition: all 0.3s ease-out;
}

.popup__container {
  position: relative;
  width: 100%;
  max-width: 670px;
  margin: auto;
}

.popup__close {
  position: absolute;
  top: 24px;
  right: 40px;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.popup__close svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.popup .feedback__flashlight {
  display: none;
}

.popup .feedback__wrap {
  transform: unset;
  background: linear-gradient(180deg, #751A21 0%, #311F1F 53.51%, #491418 100%);
}

.popup .feedback__wrap::before {
  content: none;
}

@media (min-width: 768px) {
  .tabs__nav .mobile-select {
    display: none;
  }
}

@media (min-width: 980px) {
  .header__info_mb {
    display: none;
  }

  .header__menu a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(100% + 7px);
    width: 100%;
    transform: translateX(-50%);
    border-bottom: 2px solid var(--white, #FFFFFF);
    animation: showBorderOut 0.75s ease forwards;
  }

  .header__menu a:hover {
    cursor: pointer;
  }

  .header__menu a:hover::before {
    animation: showBorder 0.75s ease forwards;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1682px;
  }
}

@media (max-width: 1400px) {
  .header__container {
    gap: 32px;
  }

  .header__top {
    gap: 64px;
  }

  .header__info {
    gap: 64px;
  }

  .section-pad {
    padding: 120px 0;
  }

  .section-pad-top {
    padding-top: 120px;
  }

  .section-pad-bottom {
    padding-bottom: 120px;
  }

  .portfolio-page__card {
    gap: 40px;
  }

  .news__card {
    gap: 80px;
  }
}

@media (max-width: 1200px) {
  .contacts__tel {
    font-size: 42px;
  }

  .news__card {
    gap: 60px;
  }

  .news-inner__cards {
    gap: 32px;
  }
}

@media (max-width: 1100px) {
  .header__top {
    gap: 48px;
  }

  .header__info {
    gap: 48px;
  }

  .section-pad {
    padding: 100px 0;
  }

  .section-pad-top {
    padding-top: 100px;
  }

  .section-pad-bottom {
    padding-bottom: 100px;
  }

  .cards .swiper-slide {
    width: 320px;
  }

  .card {
    min-width: 320px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: unset;
  }

  .title {
    font-size: 20px;
  }

  .header__container {
    gap: 24px;
    padding: 20px 0;
  }

  .header__top {
    gap: 24px;
  }

  .header__info {
    display: none;
  }

  .header__info a {
    gap: 0;
  }

  .header__info_mb {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    margin-top: 45px;
  }

  .header__button:hover svg {
    transform: translateX(8px);
  }

  .header__button {
    max-width: unset;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    left: -100%;
    display: block;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    padding: 45px 16px;
    padding-top: 24px;
    background: conic-gradient(from 180deg at 50% 50%, #AC262F 0deg, #460F13 360deg);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .header__nav.open {
    left: 0;
  }

  .header__menu li {
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(198, 198, 200, 0.51);
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .header__burger {
    order: -1;
    display: block;
  }

  .footer__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    row-gap: 32px;
  }

  .footer__logo {
    grid-column: span 2;
  }

  .footer__address {
    align-self: start;
    color: rgba(255, 255, 255, 0.7);
  }

  .footer__info a {
    gap: 0;
  }

  .footer__info {
    order: -1;
    grid-column: span 2;
  }

  .section-pad {
    padding: 80px 0;
  }

  .section-pad-top {
    padding-top: 80px;
  }

  .section-pad-bottom {
    padding-bottom: 80px;
  }

  .title {
    font-size: 20px;
  }

  .title-lg {
    font-size: 32px;
  }

  .pagination a,
  .pagination span {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .accordion-btn:hover svg {
    transform: translateX(8px);
  }

  .cards .swiper-slide {
    width: 280px;
  }

  .card {
    min-width: 280px;
  }

  .hero__container {
    min-height: unset;
    padding-top: 40px;
  }

  .hero__button:hover svg {
    transform: translateX(8px);
  }

  .hero__map {
    position: static;
    height: 359px;
  }

  .clients__card::before {
    box-shadow: 0px 0px 198.129px 0px #AC262F, 0px 0px 56.608px 0px #AC262F, 0px 0px 28.304px 0px #AC262F;
    box-shadow: 0px 0px 70px 15px rgba(172, 38, 47, 0.7);
  }

  .clients-page__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
  }

  .services__card::before {
    box-shadow: 0px 0px 100px 20px #FF0033, 0px 0px 60px 15px #FF0033, 0px 0px 40px 10px #FF6A00, 0px 0px 80px 20px #FF6A00;
  }

  .services__card {
    padding: 24px;
  }

  .services__icon {
    min-width: unset;
    height: 111px;
  }

  .services__desc {
    display: none;
  }

  .services__caption {
    font-size: 16px;
  }

  .services-page__cards {
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: auto;
  }

  .services-page .services__icon {
    height: 130px;
  }

  .services-page .services__desc {
    display: block;
    max-width: 180px;
  }

  .services-inner__button:hover svg {
    transform: translateX(8px);
  }

  .services-steps__item span {
    font-size: 16px;
  }

  .portfolio__bottom div:nth-child(even) {
    text-align: start;
  }

  .portfolio-page__card {
    gap: 24px;
  }

  .portfolio-video__box {
    height: 320px;
  }

  .feedback__box {
    padding: 16px;
  }

  .feedback__caption {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .feedback form {
    min-height: unset;
  }

  .form-button:hover svg {
    transform: translateX(8px);
  }

  .benefits__card::before {
    box-shadow: 0px 0px 198.129px 0px #AC262F, 0px 0px 56.608px 0px #AC262F, 0px 0px 28.304px 0px #AC262F, 0px 0px 180.366px 0px #D15400, 0px 0px 51.533px 0px #D15400, 0px 0px 25.767px 0px #D15400;
  }

  .vacancies-feedback form {
    min-height: unset;
  }

  .contacts__wrap {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .contacts__info {
    padding-top: 0;
  }

  .contacts__map {
    position: static;
    width: 100%;
  }

  .contacts__feedback {
    padding-top: 32px;
    padding-bottom: 0;
  }

  .contacts__link {
    font-size: 16px;
  }

  .contacts__tel {
    order: -1;
    font-size: 36px;
  }

  .news__card {
    gap: 24px;
  }

  .news-inner__wrap {
    gap: 64px;
  }

  .news-inner__block {
    gap: 32px;
    width: 100%;
    padding-right: 0;
    border-right: 0;
  }

  .news-inner__cards {
    gap: 24px;
    width: 100%;
  }

  .thanks__caption {
    margin-bottom: 0;
  }
}

@media all and (max-width: 768px) {
  #map {
    height: 70vh;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 16px;
  }

  .header__top {
    gap: 12px;
  }

  .footer .button-up {
    display: none;
  }

  .footer .line {
    display: none;
  }

  .section-pad {
    padding: 64px 0;
  }

  .section-pad-top {
    padding-top: 64px;
  }

  .section-pad-bottom {
    padding-bottom: 64px;
  }

  .heading {
    margin-bottom: 32px;
  }

  .title {
    font-size: 16px;
  }

  .title-lg {
    font-size: 24px;
  }

  .tabs {
    gap: 32px;
  }

  .tabs__nav {
    width: 100%;
    border-bottom: 1px solid #FFF;
  }

  .tabs__contents {
    width: 100%;
  }

  .tabs__nav .trigger {
    display: none;
  }

  .tabs__nav .mobile-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 12px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    color: var(--white, #FFFFFF);
    background: url(../img/arrow-down.svg) transparent no-repeat top 50% right 0;
    cursor: pointer;
  }

  .tabs__nav .mobile-select option {
    width: 100%;
    color: var(--dark, #121010);
  }

  .tabs__nav .mobile-select:focus {
    outline: 0;
  }

  .accordion-header {
    gap: 16px;
  }

  .accordion-caption {
    width: calc(100% - 24px);
  }

  .accordion-content {
    gap: 24px;
    width: 100%;
  }

  .accordion-desc {
    gap: 16px;
    margin-top: 0;
  }

  .accordion-btn {
    margin-bottom: 24px;
  }

  .cards .swiper-slide {
    width: 100%;
  }

  .card {
    min-width: unset;
    width: 100%;
  }

  .main-portfolio-inner .portfolio-page__card {
    display: flex;
  }

  .main-portfolio-inner .portfolio-page__address {
    max-width: unset;
  }

  .clients__cards {
    height: 130px;
  }

  .clients__card {
    height: 131px;
  }

  .clients-page__cards {
    gap: 8px;
    height: auto;
    width: auto;
    margin: 0 16px;
  }

  .services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    height: auto;
    width: auto;
    margin: 0 16px;
  }

  .services__cards .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    height: auto;
    width: auto;
    margin: 0 16px;
  }

  .services__card {
    height: 200px;
    padding: 16px;
  }

  .services__top {
    opacity: 1;
  }

  .services__caption {
    font-size: 14px;
  }

  .services-page__cards {
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 0 16px;
  }

  .services-page .services__caption {
    max-width: 130px;
  }

  .services-inner__wrap {
    flex-direction: column;
    gap: 32px;
  }

  .services-inner__col {
    display: contents;
  }

  .services-inner__left {
    width: 100%;
  }

  .services-inner__right {
    width: 100%;
  }

  .services-inner__slider_md::before {
    content: none;
  }

  .services-inner__slider_lg {
    display: none;
  }

  .services-inner__slider {
    height: 206px;
  }

  .services-inner__button {
    order: 1;
  }

  .services-steps__box {
    width: 360px;
    height: 360px;
  }

  .services-steps__item:nth-child(1) {
    width: 152px;
    height: 152px;
  }

  .services-steps__item:nth-child(2) {
    width: 222px;
    height: 222px;
  }

  .services-steps__item:nth-child(3) {
    width: 292px;
    height: 292px;
  }

  .services-steps__item::before {
    height: 88px;
    box-shadow: 0px 0px 145.757px 0px #A92C36, 0px 0px 85.025px 0px #A92C36, 0px 0px 42.512px 0px #A92C36, 0px 0px 12.146px 0px #A92C36, 0px 0px 6.073px 0px #A92C36;
  }

  .services-steps__item span {
    font-size: 12px;
  }

  .services-steps__item {
    padding: 30px;
  }

  .services-steps text {
    font-size: 20px;
  }

  .services-steps {
    padding-top: 128px;
  }

  .services-other .services__card {
    gap: 12px;
    height: auto;
  }

  .services-other .services__caption {
    font-size: 12px;
  }

  .portfolio__cards {
    gap: 80px;
    transform: translateY(calc(-100vh + 120px));
  }

  .portfolio__card {
    gap: 12px;
    width: 297px;
  }

  .portfolio__bottom div {
    flex: 1 1 100%;
  }

  .portfolio__bottom {
    opacity: 1;
    font-size: 14px;
  }

  .portfolio__marquee {
    top: 55%;
    font-size: 32px;
  }

  .portfolio-page__cards {
    gap: 16px;
  }

  .portfolio-page__card:first-of-type {
    border-top: 0;
  }

  .portfolio-page__card {
    min-height: unset;
    padding: 0;
    padding-bottom: 16px;
    font-size: 14px;
  }

  .portfolio-page__address {
    order: 1;
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  .portfolio-inner::before {
    height: 323px;
  }

  .portfolio-inner .back {
    height: 323px;
  }

  .portfolio-inner__container {
    gap: 32px;
    min-height: unset;
    padding-top: 384px;
  }

  .portfolio-inner__box {
    width: 100%;
    font-size: 14px;
  }

  .portfolio-inner__location span:last-child {
    max-width: 200px;
  }

  .portfolio-inner {
    padding: 0;
  }

  .portfolio-video__box {
    height: 200px;
  }

  .portfolio-video {
    padding-top: 32px;
  }

  .feedback__wrap::before {
    height: 120px;
  }

  .feedback__wrap::after {
    box-shadow: 0px 0px 200px 0px #AC2932, 0px 0px 110.16px 0px #AC2932, 0px 0px 55.08px 0px #AC2932;
  }

  .feedback__wrap {
    padding: 8px;
  }

  .feedback__flashlight .glow {
    width: 16px;
    height: 16px;
  }

  .feedback__caption {
    font-size: 14px;
  }

  .benefits__cards {
    height: 257px;
    margin: 0 16px;
  }

  .benefits__card::before {
    opacity: 1;
  }

  .benefits__card {
    height: 257px;
    padding: 16px;
    margin-right: 8px;
  }

  .benefits__caption {
    font-size: 14px;
  }

  .benefits__desc {
    font-size: 14px;
    opacity: 1;
  }

  .map__heading {
    flex-wrap: wrap;
    gap: 32px;
  }

  .map__select {
    width: 100%;
  }

  .contacts__group a {
    max-width: 260px;
  }

  .news__cards {
    gap: 16px;
  }

  .news__card:first-child {
    padding-top: 16px;
  }

  .news__card {
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 16px;
  }

  .news__caption {
    max-width: 100%;
    font-size: 16px;
    line-height: 1.3em;
  }

  .news__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    max-width: 100%;
    margin-left: unset;
    font-size: 14px;
  }

  .news__txt {
    width: 100%;
    padding-bottom: 16px;
  }

  .news__img {
    order: -1;
    width: 100%;
  }

  .news-inner__cards {
    gap: 16px;
  }

  .news-inner__card {
    gap: 16px;
  }

  .news-inner__txt {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  .thanks__box {
    height: 212px;
  }

  .thanks__caption {
    font-size: 16px;
  }

  .thanks__btn {
    font-size: 14px;
  }

  .page-error::before {
    height: 80%;
    background: url(../img/404-mb.svg) center/cover no-repeat;
  }

  .popup__close {
    top: 8px;
    right: 8px;
  }
}

@media all and (max-width: 480px) {
  #map {
    height: 80vh;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}