@charset "UTF-8";

@font-face {
  font-family: Hibana;
  font-display: swap;
  src: url("../fonts/Hibana-SubMedium.woff2") format("woff2"), url("../fonts/Hibana-SubMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Hibana;
  font-display: swap;
  src: url("../fonts/Hibana-SubMedium.woff2") format("woff2"), url("../fonts/Hibana-SubMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Указываем box sizing */

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 400 20px/1.6 Montserrat;
  color: #4B7373;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 87.6%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
  color: #FFFFFF;
  background-color: #019CA5;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #07B5BF;
}

.button:active:not(:disabled) {
  background-color: #017D84;
}

.button:disabled {
  opacity: 0.5;
}

h1,
h2 {
  font: 500 50px/1 Montserrat;
  color: #0D3A3E;
  text-transform: uppercase;
}

h3 {
  font: 500 40px/1 Montserrat;
  color: #0D3A3E;
}

h4 {
  font: 500 30px/1 Hibana;
  color: #0D3A3E;
}

h5 {
  font: 500 25px/1.2 Hibana;
  color: #0D3A3E;
}

h6 {
  font: 500 20px/1.2 Hibana;
  color: #0D3A3E;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84.23%);
  transition: all 0.2s ease-in-out;
}

.header.scroll {
  color: rgb(1, 156, 165);
  background: #fff;
  box-shadow: 0px 0px 30px rgba(13, 58, 62, 0.05);
}

.header.scroll .header__menu {
  color: #0D3A3E;
}

.header.scroll .link::after {
  background-color: #0D3A3E;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 16px;
}

.header__logo {
  display: block;
  width: 160px;
  height: 90px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  transition: all 0.2s ease-in-out;
}

.header__nav.open {
  left: unset;
  right: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  color: #FFFFFF;
}

.header__menu li {
  position: relative;
  padding: 30px 0;
}

.header__menu a {
  display: block;
  padding: 5px 0;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}

.header__menu a.active {
  position: relative;
}

.header__menu a.active:hover {
  pointer-events: none;
}

.header__menu a.active::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background-color: #019CA5;
}

.header__menu a:hover {
  cursor: pointer;
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__burger span {
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 100%;
  pointer-events: none;
  background-color: #019CA5;
  transition: all 0.2s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: 0;
}

.header__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
}

.header__burger span:nth-child(3) {
  bottom: 0;
  width: 50%;
}

.header__burger:hover span:nth-child(2),
.header__burger:hover span:nth-child(3) {
  width: 100%;
}

.footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #019CA5;
  font-size: 16px;
  color: #FFFFFF;
}

.footer__wrap:last-child {
  border-top: 1px solid #06A0A8;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}

.footer__col:nth-child(1),
.footer__col:nth-child(2) {
  flex-grow: 1;
}

.footer__logo {
  display: block;
  width: 250px;
  height: 124px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}

.footer__menu a.active {
  font-weight: 600;
}

.footer__links {
  display: grid;
  gap: 20px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: -moz-max-content;
  max-width: max-content;
  line-height: 1.3em;
}

.footer__link svg {
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.footer__address {
  max-width: 20vw;
  align-items: flex-start;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper__arrows {
  display: flex;
  align-items: center;
  border-right: 1px solid #FFFFFF;
}

.swiper__arrows svg {
  width: 100%;
  height: 100%;
}

.swiper__arrows rect,
.swiper__arrows path {
  transition: all 0.2s ease-in-out;
}

.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next:hover rect,
.swiper-button-prev:hover rect {
  fill: #019CA5;
}

.swiper-button-next:hover path,
.swiper-button-prev:hover path {
  fill: #FFFFFF;
}

.section {
  padding: 130px 0;
  overflow: hidden;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.link.active:hover {
  pointer-events: none;
}

.link.active:hover::after {
  content: none;
}

.txt_blue {
  color: #019CA5;
}

.title {
  display: flex;
  align-items: center;
  gap: 25px;
}

.star {
  position: relative;
}

.star::before {
  position: absolute;
  left: -100px;
  top: 70%;
  transform: translateY(-50%);
  content: url(../img/star-1.png);
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #019CA5;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.box_bold {
  font-weight: 600;
}

.box_dark {
  color: #0D3A3E;
}

.marquee {
  font: 500 10em/1 Montserrat;
  color: #019CA5;
  opacity: 0.05;
  overflow: hidden;
}

.tab__caption {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  height: 45px;
  margin-bottom: 60px;
  border-bottom: 1px solid #B0DFE2;
  overflow-x: auto;
}

.tab__caption::-webkit-scrollbar {
  height: 2px;
}
.tab__caption::-webkit-scrollbar-track {
  background-color: #B0DFE2;
}
.tab__caption::-webkit-scrollbar-thumb {
  background-color: #B0DFE2;
}

.tab__caption li {
  width: -moz-max-content;
  width: max-content;
  padding-top: 10px;
  padding-bottom: 8px;
  white-space: nowrap;
  font: 500 20px/1.2 Hibana;
  transition: all 0.2s ease-in-out;
}

.tab__caption li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: #019CA5;
  transition: all 0.2s ease-in-out;
}

.tab__caption li:hover {
  color: #019CA5;
  cursor: pointer;
}

.tab__caption .active {
  position: relative;
  padding-top: 0;
  font: 500 30px/1.2 Hibana;
  color: #019CA5;
}

.tab__caption .active::after {
  width: 100%;
}

.tab__caption .active:hover {
  pointer-events: none;
}

.tab__contents {
  position: relative;
}

.tab__content {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 40px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.tab__content.active {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.tab__img {
  height: 70vh;
}

.tab__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab__txt {
  font-size: 16px;
}

.mySwiper2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 42%;
}

.mySwiper {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  height: -moz-max-content;
  height: max-content;
  width: 56%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  align-items: stretch;
  height: auto;
}

.mySwiper .swiper-slide:hover {
  box-shadow: 0px 0px 30px rgba(13, 58, 62, 0.05);
}

.mySwiper .swiper-slide-thumb-active .card {
  border: 1px solid #019CA5;
  box-shadow: 0px 0px 30px rgba(13, 58, 62, 0.05);
}

.mySwiper .swiper-slide-thumb-active .card:hover {
  pointer-events: none;
}

.card {
  padding: 20px;
  border: 1px solid #B0DFE2;
  background-color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

.card__img {
  height: 172px;
  padding: 56px 34px;
}

.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__caption {
  position: relative;
  padding-top: 25px;
  margin-bottom: 15px;
}

.card__caption::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 26%;
  background-color: #019CA5;
}

.swiper__pagin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.swiper__pagin .swiper-button-next,
.swiper__pagin .swiper-button-prev {
  flex-shrink: 0;
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.swiper__pagin .swiper-button-next svg,
.swiper__pagin .swiper-button-prev svg {
  min-width: 32px;
}

.swiper__pagin .swiper-button-next:hover path,
.swiper__pagin .swiper-button-prev:hover path {
  fill: #07B5BF;
}

/*sections*/

.factory, .company {
  position: relative;
  padding: 70px 0;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84.23%), linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

.factory__bg, .company__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.factory__bg img , .company__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.factory__container, .company__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 85vh;
  color: #FFFFFF;
  z-index: 2;
}

.company__container {
  justify-content: center;
  align-items: center;
  min-height: 47vh;
}

.factory__title {
  display: grid;
  gap: 18px;
  font: 500 106px/1 Montserrat;
  color: #FFFFFF;
}
.company__title {
  color: #FFFFFF;
}

.factory__title span {
  line-height: 1;
}

.factory__title .txt_blue {
  text-align: end;
}

.factory__txt {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 320px;
  font-size: 18px;
  text-transform: uppercase;
}

.factory__txt::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  height: 100%;
  width: 2px;
  background-color: #019CA5;
}

.about .title {
  margin-bottom: 80px;
}

.about__desc {
  margin-bottom: 80px;
}

.about__img {
  height: 60vh;
}

.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__slider {
  position: relative;
  margin-bottom: 80px;
}

.about__buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
  z-index: 2;
}

.about__arrows {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.about__btn {
  display: flex;
  align-items: center;
  padding: 32px 90px;
}

.about .swiper-button-next,
.about .swiper-button-prev {
  position: relative;
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  width: 96px;
  height: 100%;
}

.about .swiper-button-prev::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #019CA5;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 40px;
}

.about__num {
  margin-bottom: 15px;
  color: #019CA5;
}

.projects__box {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
}

.projects .title {
  flex-grow: 1;
}

.projects__slider {
  position: relative;
}

.projects .projectsSwiper {
  height: 60vh;
}

.projects .swiper {
  margin-bottom: 40px;
  padding-left: 60px;
}

.projects .swiper-wrapper {
  align-items: center;
}

.projects .swiper-slide {
  float: left;
  position: relative;
  width: 60%;
  height: 80%;
  transition: all 0.4s ease-in-out;
}

.projects .swiper-slide a {
  pointer-events: none;
}

.projects .swiper-slide-active {
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.projects .swiper-slide-active a {
  pointer-events: all;
}

.projects__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 40px;
  color: #FFFFFF;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 86.31%);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.projects__card:hover {
  box-shadow: 0px 0px 32px rgba(13, 58, 62, 0.15);
}

.projects__card:hover img {
  transform: scale(1.05);
}

.projects__card:hover .projects__link {
  background-color: #07B5BF;
}

.projects__wrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.projects__desc {
  flex-grow: 1;
}

.projects__desc h4 {
  color: #FFFFFF;
}

.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #019CA5;
}

.projects__link:hover {
  background-color: #07B5BF;
}

.projects__link:active {
  background-color: #017D84;
}

.projects .swiper__pagin {
  max-width: 58%;
  margin: 0 auto;
}

.projects .swiper-pagination-progressbar {
  position: relative;
  flex-grow: 1;
  width: auto;
  height: 2px;
  background-color: #B0DFE2;
}

.projects .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #019CA5;
  height: 3px;
}

.image {
  height: 80vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(0deg, rgba(1, 156, 165, 0.09), rgba(1, 156, 165, 0.09)), url(../img/back-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image__container {
  position: relative;
}

.image__container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.technology__desc {
  margin-bottom: 80px;
}

.technology .title {
  margin-bottom: 80px;
}

.technology__slider {
  position: relative;
  height: 95vh;
  margin-bottom: 100px;
  overflow: hidden;
}

.technology__slider .swiper__pagin {
  position: absolute;
  top: 10%;
  right: 7%;
  width: -moz-max-content;
  width: max-content;
}

.benefits .title {
  margin-bottom: 100px;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  font-size: 16px;
}

.benefits__img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.benefits__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*animate*/

@media (min-width: 1920px) {
  .container {
    max-width: 1682px;
  }
}

@media (max-width: 1800px) {
  .mySwiper {
    width: 60%;
  }
}

@media (max-width: 1650px) {
  html {
    font: 400 18px/1.5 Montserrat;
  }

  h1,
  h2 {
    font: 500 40px/1 Montserrat;
  }

  h3 {
    font: 500 32px/1 Montserrat;
  }

  h4 {
    font: 500 28px/1 Montserrat;
  }

  .section {
    padding: 120px 0;
  }

  .description {
    gap: 60px;
  }

  .tab__caption li {
    font: 500 18px/1.2 Hibana;
  }

  .tab__caption .active {
    font: 500 20px/1 Montserrat;
  }

  .card__txt {
    font-size: 14px;
  }

  .factory__title {
    font: 500 90px/1 Montserrat;
  }

  .about .title {
    margin-bottom: 60px;
  }

  .about__desc {
    margin-bottom: 60px;
  }

  .about__slider {
    margin-bottom: 60px;
  }

  .about__btn {
    padding: 25px 80px;
  }

  .about .swiper-button-next,
  .about .swiper-button-prev {
    width: 80px;
  }

  .technology__desc {
    margin-bottom: 60px;
  }

  .technology .title {
    margin-bottom: 60px;
  }
}

@media (max-width: 1540px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1440px) {
  html {
    font: 400 16px/1.3 Montserrat;
  }

  h1,
  h2 {
    font: 500 35px/1 Montserrat;
  }

  h3 {
    font: 500 30px/1 Montserrat;
  }

  h4 {
    font: 500 26px/1 Montserrat;
  }

  h5 {
    font: 500 24px/1.2 Hibana;
  }

  .header__menu {
    gap: 40px;
  }

  .section {
    padding: 100px 0;
  }

  .description {
    gap: 40px;
  }

  .tab__content {
    grid-template-columns: 40% 1fr;
    gap: 30px;
  }

  .mySwiper {
    width: 65%;
  }

  .factory__title {
    font: 500 70px/1 Montserrat;
  }

  .factory__txt::before {
    left: -20px;
  }

  .factory__txt {
    max-width: 280px;
    font-size: 16px;
  }

  .about .title {
    margin-bottom: 40px;
  }

  .about__desc {
    margin-bottom: 40px;
  }

  .about__slider {
    margin-bottom: 40px;
  }

  .about__btn {
    padding: 20px 60px;
  }

  .about__cards {
    gap: 30px;
  }

  .projects .swiper {
    margin-bottom: 30px;
  }

  .projects__card {
    padding: 30px;
  }

  .projects__link {
    width: 50px;
    height: 50px;
  }

  .technology__desc {
    margin-bottom: 40px;
  }

  .technology .title {
    margin-bottom: 40px;
  }

  .technology__slider .swiper__pagin {
    top: 8%;
  }

  .footer {
    font-size: 14px;
  }
  .footer__container {
    gap: 30px;
  }
}

@media (max-width: 1400px) {
  .benefits__cards {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (max-width: 1280px) {
  .mySwiper {
    width: 70%;
  }

  .projects__card {
    padding: 20px;
  }

  .projects__link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1200px) {
  html {
    font: 400 14px/1.3 Montserrat;
  }

  .container {
    max-width: 95%;
  }

  h1,
  h2 {
    font: 500 30px/1 Montserrat;
  }

  h3 {
    font: 500 26px/1 Montserrat;
  }


  h4 {
    font: 500 24px/1 Montserrat;
  }

  h5 {
    font: 500 20px/1.2 Hibana;
  }

  h6 {
    font: 500 18px/1.2 Hibana;
  }

  .header__menu {
    gap: 30px;
  }

  .tab__caption {
    margin-bottom: 40px;
  }
}

@media (max-width: 1100px) {
  .header__container {
    gap: 20px;
    font-size: 18px;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    right: -100%;
    display: block;
    min-height: 100vh;
    min-width: 320px;
    padding: 40px;
    border-top: 2px solid #019CA5;
    background-color: #FFFFFF;
  }

  .header__menu li {
    padding: 0;
  }

  .header__menu a.active::before {
    bottom: unset;
    top: 0;
    left: -10px;
    width: 4px;
    height: 100%;
    transform: unset;
  }

  .header__menu a.active {
    padding: 2px 0;
  }

  .header__menu a:hover {
    color: #019CA5;
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #0D3A3E;
  }

  .header__burger {
    display: block;
  }

  .header {
    background: #fff;
  }

  .section {
    padding: 80px 0;
  }

  .projects__box, .technology__slider, .benefits .title {
    margin-bottom: 80px;
  }

  .description {
    gap: 30px;
  }

  .tab__content {
    grid-template-columns: 45% 1fr;
  }

  .mySwiper {
    width: 85%;
    right: 5%;
  }

  .factory__title {
    font: 500 60px/1 Montserrat;
  }

  .benefits__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .image {
    background-attachment: scroll;
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    max-width: none;
  }

  h1,
  h2 {
    font: 500 28px/1 Montserrat;
  }

  h3 {
    font: 500 24px/1 Montserrat;
  }

  h4 {
    font: 500 22px/1 Montserrat;
  }

  .tab__caption {
    margin-bottom: 30px;
  }

  .mySwiper2 {
    width: 60%;
  }

  .factory__title {
    margin-bottom: 30px;
  }

  .factory__txt::before {
    left: 0;
  }

  .factory__txt {
    position: relative;
    max-width: 60%;
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .header__logo {
    width: 110px;
    height: 60px;
  }

  .tab__content {
    grid-template-columns: 1fr;
  }

  .factory__title {
    font: 500 50px/1 Montserrat;
  }

  .about__cards {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  .projects__box {
    display: block;
  }

  .projects .title {
    margin-bottom: 30px;
  }
  .image {
    height: 50vh;
  }

  .tab__img {
    height: 50vh;
}

}

@media (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
  .projects__box, .technology__slider, .benefits .title {
    margin-bottom: 60px;
  }
  
}

@media (max-width: 600px) {

  h1,
  h2 {
    font: 500 26px/1 Montserrat;
  }

  .line {
    display: none;
  }

  .star::before {
    content: none;
  }

  .description {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .mySwiper2 {
    width: 80%;
  }

  .factory__container {
    min-height: 70vh;
  }

  .factory__title {
    font: 500 40px/1 Montserrat;
  }

  .benefits__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects .swiper {
    padding: 0 40px;
  }
  
  .projects .projectsSwiper {
    height: 50vh;
  }

  .technology__slider {
    height: 70vh;
  }

  .mySwiper {
    height: auto;
  }

  .technology__slider .swiper__pagin {
    top: 0%;
  }
  .factory__title {
    font: 500 26px/1 Montserrat;
  }

  .factory__txt {
    font-size: 12px;
  }

  .benefits__img {
    width: 40px;
    height: 40px;
  }

  .footer {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .section {
    padding: 40px 0;
  }
  .technology__slider, .projects__box, .benefits .title {
    margin-bottom: 40px;
  }

  .about__buttons {
    width: 100%;
  }

  .about__btn {
    flex-grow: 1;
    padding: 20px;
  }

  .about .swiper-button-next,
  .about .swiper-button-prev {
    width: 60px;
  }
}

@media (max-width: 420px) {
  .benefits__cards {
    grid-template-columns: 1fr;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}