@charset "UTF-8";

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Light.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Light.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Указываем box sizing */

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 500 16px/1.8 SF;
  color: #1E1E1E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --light-grey: #E0E0E0;
  --grey: #909090;
  --white: #FFFFFF;
  --dark: #1E1E1E;
  --main: #B79879;
}

.container {
  max-width: 1432px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 1rem 1.4rem;
  border: 1px solid var(--light-grey, #E0E0E0);
  background: var(--white, #FFFFFF);
  font: 500 1em/1 SF;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem 1.4rem;
  border: 1px solid var(--main, #B79879);
  background-color: var(--main, #B79879);
  color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #D1AE8A;
  border-color: #D1AE8A;
}

.button:disabled {
  opacity: 0.5;
}

.button_light {
  background-color: var(--white, #FFFFFF);
  color: var(--dark, #1E1E1E);
  border-color: var(--white, #FFFFFF);
}

.button_light:hover:not(:disabled) {
  background-color: var(--dark, #1E1E1E);
  color: var(--white, #FFFFFF);
  border-color: var(--dark, #1E1E1E);
}

.button_dark {
  background-color: var(--dark, #1E1E1E);
  color: var(--white, #FFFFFF);
  border-color: var(--dark, #1E1E1E);
}

h1 {
  font: 700 3.4em/1.5 SF;
}

h2 {
  font: 600 2.2em/1.5 SF;
}

h3 {
  font: 500 1.7em/1.5 SF;
}

h4 {
  font: 500 1.4em/1.5 SF;
}

h5 {
  font: 500 1.2em/1.5 SF;
}

h6 {
  font: 500 1em/1.5 SF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

.header.scroll {
  background-color: var(--dark, #1E1E1E);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.header__logo {
  padding-right: 40px;
  border-right: 1px solid var(--white, #FFFFFF);
}

.header__nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.header__nav.open {
  left: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__menu a {
  position: relative;
  display: block;
  color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.header__menu a::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.header__menu a:hover {
  cursor: pointer;
}

.header__menu a:hover::after {
  width: 100%;
}

.header__phone {
  flex-grow: 1;
  display: block;
  text-align: end;
  transition: all 0.3s ease-in-out;
}

.header__phone:hover {
  color: var(--main, #B79879);
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header__burger span {
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 100%;
  pointer-events: none;
  background-color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: 0;
}

.header__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger span:nth-child(3) {
  bottom: 0;
}

.logo {
  display: block;
  width: 134px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background-color: var(--dark, #1E1E1E);
  color: var(--white, #FFFFFF);
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 100px;
  padding: 100px 0;
  border-bottom: 1px solid var(--grey, #909090);
}

.footer__col {
  display: grid;
  align-items: flex-start;
  gap: 15px;
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 100px;
}

.footer__link {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.footer__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--white, #FFFFFF);
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  cursor: pointer;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__caption {
  color: var(--grey, #909090);
  text-transform: uppercase;
}

.footer__copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 25px 0;
}

.footer__copy a {
  transition: all 0.3s ease-in-out;
}

.footer__copy a:hover {
  color: var(--main, #B79879);
}

.logo_sand {
  width: 74px;
  height: 100px;
}

.logo_sand img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ---Elements style--- */

.section {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.section_top {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
}

.social {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: rgba(30, 30, 30, 0.5);
}

.social__icon svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.social__icon:hover svg {
  transform: scale(1.1);
}

.link {
  display: flex;
  align-items: center;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.link svg {
  margin-right: 15px;
}

.link:hover {
  color: #B79879;
}

.title_sm {
  color: var(--grey, #909090);
  font: 500 1em/1.5 SF;
  text-transform: uppercase;
}

.title span {
  color: var(--main, #B79879);
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video__poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__poster::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%) 50%/cover no-repeat;
  z-index: 1;
}

.video__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  z-index: 1;
}

.video__caption {
  color: var(--white, #FFFFFF);
}

.video__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  outline-offset: 12px;
  outline: 1px solid var(--grey, #909090);
  background-color: var(--white, #FFFFFF);
}

.video__icon svg {
  width: 20px;
  height: 26px;
}

.video__duration {
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: -moz-max-content;
  width: max-content;
  color: var(--white, #FFFFFF);
}

.wrapper {
  display: grid;
  grid-template-columns: 32% 1fr;
  align-items: flex-start;
  gap: 30px;
}

.wrapper__box {
  display: grid;
  gap: 30px;
  max-width: 20vw;
}

.wrapper__slider {
  height: 540px;
  margin-bottom: 40px;
}

.scroll-icon {
  position: absolute;
  bottom: 10%;
  right: 12%;
  display: block;
  width: 30px;
  height: 50px;
}

.scroll-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

.card {
  padding-top: 30px;
  border-top: 1px solid var(--grey, #909090);
}

.card__caption {
  margin-bottom: 15px;
}

.card__info {
  color: var(--grey, #909090);
}

.map {
  height: 500px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.sticky__box {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 2;
  animation: shadow-pulse 2s infinite;
  border-radius: 100%;
  cursor: pointer;
}

.sticky__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--main, #B79879);
  border-radius: 100%;
}

.sticky__icon svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

/* ---keyframe--- */

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(183, 152, 121, 0.4);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(183, 152, 121, 0);
  }
}

/* -------------------------------------------- */

/* START sections */

.dara {
  position: relative;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%) 50%/cover no-repeat;
}

.dara .container {
  height: 100%;
}

.dara__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.dara__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.dara__video[poster] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dara__logo {
  display: block;
  width: 148px;
  height: 200px;
  margin: 0 auto;
}

.dara__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dara__desc {
  max-width: 40%;
  width: 100%;
  margin-top: 70px;
  color: var(--white, #FFFFFF);
}

.dara__title {
  margin-bottom: 3.5rem;
}

.dara__btn {
  border-color: var(--white, #FFFFFF);
  background-color: transparent;
}

.about {
  background: url(../img/back-1.png) no-repeat;
  background-size: contain;
  background-position: 0% 60%;
}

.about__desc {
  margin-bottom: 70px;
}

.about__title {
  margin-bottom: 50px;
}

.about__txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 30px;
}

.about__video {
  position: relative;
  width: 100%;
  height: 42vw;
  max-height: 600px;
  padding: 20px;
}

.infrastructure {
  background: url(../img/back-2.png) no-repeat;
  background-position: 0% 100%;
  background-size: contain;
}

.location {
  background: url(../img/back-3.png) no-repeat;
  background-position: 0% 100%;
  background-size: contain;
}

.location__img {
  height: 42vw;
  max-height: 600px;
}

.location__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments__title {
  margin-bottom: 50px;
}

.apartments__txt {
  margin-bottom: 50px;
}

.apartments__caption {
  font: 600 2.2em/1 SF;
  text-transform: uppercase;
}

.booklet {
  background-color: var(--dark, #1E1E1E);
  color: var(--white, #FFFFFF);
}

.booklet__wrapper {
  grid-template-columns: 65% 1fr;
}

.booklet__slider {
  position: relative;
  height: 42vw;
  max-height: 700px;
}

.booklet__slider .slide__img {
  height: 100%;
}

.booklet__title {
  margin-bottom: 50px;
}

.booklet__txt {
  margin-bottom: 50px;
}

.booklet__btn {
  border-color: var(--white, #FFFFFF);
  background-color: transparent;
}

.booklet__pagin {
  position: absolute;
  bottom: 60px;
  right: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.advantages {
  background: url(../img/back-4.png) no-repeat;
  background-position: 0% 100%;
  background-size: contain;
}

.advantages__title {
  margin-bottom: 50px;
}

.advantages__txt {
  margin-bottom: 50px;
}

.advantages__card {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 30px;
}

.advantages__caption {
  margin-bottom: 0;
}

.interior {
  background: url(../img/back-5.png) no-repeat;
  background-position: 0% 100%;
  background-size: contain;
}

.interior__slider {
  height: 450px;
}

.interior .slide__img {
  margin-bottom: 0;
}

.interior-dark {
  background-color: var(--dark, #1E1E1E);
}

.interior-dark__title {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.interior-dark__slider {
  position: relative;
}

.interior-dark .swiper-slide {
  float: left;
  position: relative;
  width: 60%;
}

.interior-dark .slide__img {
  margin-bottom: 0;
}

.interior-dark__pagin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  z-index: 1;
}

.interior-dark .swiper-button {
  border-color: var(--dark, #1E1E1E);
  background-color: var(--dark, #1E1E1E);
}

.interior-dark .swiper-button path {
  stroke: var(--main, #B79879);
}

.info {
  min-height: 100vh;
  background: url(../img/bg.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.method {
  position: relative;
  min-height: 100vh;
  background-color: var(--main, #B79879);
  color: var(--white, #FFFFFF);
}

.method__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--white, #FFFFFF);
}

.method__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.method__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.method__caption {
  margin-bottom: 50px;
  color: var(--white, #FFFFFF);
}

.method__title {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.method__txt {
  position: relative;
  z-index: 1;
  max-width: 490px;
  margin-bottom: 50px;
}

.method__txt_dark {
  max-width: 410px;
  color: var(--dark, #1E1E1E);
}

.method__list {
  max-width: 490px;
  margin-bottom: 50px;
}

.method__list li {
  position: relative;
  padding-left: 50px;
  padding-top: 30px;
  margin-bottom: 45px;
  border-top: 1px solid var(--white, #FFFFFF);
}

.method__list li::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: url(../img/polygon.svg);
}

.method__list li:last-child {
  margin-bottom: 0;
}

.method__btn_dr {
  position: relative;
  z-index: 1;
  border: 1px solid var(--grey, #909090);
}

.instagram__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.instagram__card {
  height: 260px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.instagram__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.instagram__card:hover img {
  transform: scale(1.1);
}

/* END sections */

/* -------------------------------------------- */

/* START swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.slider {
  position: absolute;
  right: 0;
  width: 61%;
}

.slide {
  width: 100%;
  max-width: 380px;
}

.slide__img {
  height: 450px;
  width: 100%;
  margin-bottom: 30px;
}

.slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: -40px;
  left: 0;
  height: 4px;
  border-radius: 0;
  z-index: 1;
}

.swiper-scrollbar.swiper-scrollbar-horizontal:hover {
  cursor: pointer;
}

.swiper-scrollbar-drag {
  border-radius: 0;
}

.swiper-button {
  position: unset;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 0;
  border: 1px solid var(--white, #FFFFFF);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.swiper-button svg {
  width: 24px;
  height: 24px;
}

.swiper-button path {
  transition: all 0.3s ease-in-out;
}

.swiper-button:hover {
  background-color: var(--white, #FFFFFF);
  border-color: var(--white, #FFFFFF);
}

.swiper-button:hover path {
  stroke: var(--dark, #1E1E1E);
}

/* END swiper */

/* -------------------------------------------- */

/* START popup */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 12;
}

.popup-feedback__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 30px;
  padding: 50px;
  max-width: 380px;
  width: 100%;
  background: var(--dark, #1E1E1E);
  color: var(--white, #FFFFFF);
}

.popup-feedback__logo {
  width: 74px;
  height: 100px;
}

.popup-feedback__desc {
  display: grid;
  justify-items: center;
  text-align: center;
}

.popup-feedback__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.popup-feedback__buttons a {
  width: 100%;
}

.popup-feedback_phone {
  background: #2F80ED;
  border-color: #2F80ED;
}

.popup-feedback_phone:hover {
  background: #338AFF !important;
}

.popup-feedback_wp {
  background: #27AE60;
  border-color: #27AE60;
}

.popup-feedback_wp:hover {
  background: #2DC76E !important;
}

.popup-form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 16px;
  padding: 70px;
  max-width: 380px;
  width: 100%;
  background: var(--white, #FFFFFF);
}

.popup-form__desc {
  color: var(--grey, #909090);
  text-align: center;
}

.popup-form .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.popup__close svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.popup__close:hover {
  cursor: pointer;
}

/* END popup */

@media (max-width: 1650px) {
  html {
    font: 500 14px/1.8 SF;
  }

  .container {
    max-width: 1332px;
  }

  .scroll-icon {
    right: 6%;
  }

  .map {
    height: 450px;
  }

  .dara {
    padding: 80px 0;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1232px;
  }
}

@media (max-width: 1300px) {
  h1 {
    font: 700 3em/1.5 SF;
  }

  .header__container {
    gap: 30px;
    padding: 30px 0;
  }

  .logo {
    width: 120px;
    height: 50px;
  }

  .social__icon {
    width: 48px;
    height: 48px;
  }

  .wrapper__slider {
    height: 440px;
  }

  .scroll-icon {
    bottom: 6%;
  }

  .dara__desc {
    margin-top: 50px;
  }

  .dara__title {
    margin-bottom: 3rem;
  }

  .dara {
    padding: 60px 0;
  }

  .about__desc {
    margin-bottom: 50px;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .apartments__title {
    margin-bottom: 40px;
  }

  .apartments__txt {
    margin-bottom: 40px;
  }

  .apartments__caption {
    font: 600 2em/1 SF;
  }

  .booklet__title {
    margin-bottom: 40px;
  }

  .booklet__txt {
    margin-bottom: 40px;
  }

  .booklet__pagin {
    bottom: 50px;
    right: 50px;
  }

  .advantages__title {
    margin-bottom: 40px;
  }

  .advantages__txt {
    margin-bottom: 40px;
  }

  .interior__slider {
    height: 350px;
  }

  .interior-dark__title {
    margin-bottom: 40px;
  }

  .method__caption {
    margin-bottom: 40px;
  }

  .method__title {
    margin-bottom: 40px;
  }

  .method__txt {
    margin-bottom: 40px;
  }

  .method__list li {
    margin-bottom: 40px;
    padding-left: 40px;
  }

  .method__list {
    margin-bottom: 40px;
  }

  .slide__img {
    height: 350px;
  }

  .swiper-button {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    padding-right: 30px;
  }

  .footer__row {
    padding: 80px 0;
    gap: 80px;
  }

  .footer__logo {
    gap: 80px;
  }

  .section_top {
    padding-top: 80px;
  }

  .section {
    padding: 80px 0;
  }

  .wrapper__box {
    max-width: unset;
  }

  .popup-feedback__container {
    padding-top: 60px;
  }

  .popup-form__container {
    padding: 50px;
    padding-top: 60px;
  }
}

@media (max-width: 1100px) {
  .header__container {
    gap: 20px;
    padding: 20px 0;
  }

  .header__logo {
    padding-right: 20px;
  }

  .header__menu {
    gap: 15px;
  }

  .social__icon {
    width: 40px;
    height: 40px;
  }

  .video__icon {
    width: 70px;
    height: 70px;
    outline-offset: 10px;
  }

  .map {
    height: 350px;
  }

  .dara__desc {
    max-width: 60%;
  }

  .dara__title {
    margin-bottom: 40px;
  }

  .instagram__card {
    height: 200px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    max-width: none;
  }

  h2 {
    font: 600 2em/1.5 SF;
  }

  h3 {
    font: 500 1.5em/1.5 SF;
  }

  .header__logo {
    flex-grow: 1;
    padding-right: 0;
    border: none;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    padding: 30px;
    border-top: 1px solid var(--white, #FFFFFF);
    color: var(--white, #FFFFFF);
    background-color: var(--dark, #1E1E1E);
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__phone {
    flex-grow: unset;
    text-align: start;
  }

  .header__burger {
    display: block;
  }

  .header {
    background-color: var(--dark, #1E1E1E);
  }

  .footer__row {
    padding: 60px 0;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(2, auto);
    gap: 60px;
  }

  .footer__logo {
    grid-column: span 2;
    align-items: center;
    gap: 60px;
  }

  .section_top {
    padding-top: 60px;
  }

  .section {
    padding: 60px 0;
  }

  .wrapper__box {
    gap: 20px;
  }

  .scroll-icon {
    display: none;
  }

  .cards {
    gap: 30px;
  }

  .dara__title {
    margin-bottom: 30px;
  }

  .about__desc {
    margin-bottom: 40px;
  }

  .apartments__caption {
    font: 600 1.8em/1 SF;
  }

  .method__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 50%;
       object-position: 0% 50%;
  }

  .method__img {
    position: unset;
    width: 120%;
    height: 300px;
    margin: 0 -16px;
    margin-bottom: 30px;
  }

  .method__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .method__title span {
    color: var(--white, #FFFFFF);
  }

  .method__title {
    margin-bottom: 30px;
  }

  .method__txt_dark {
    color: var(--white, #FFFFFF);
  }

  .method__txt {
    margin-bottom: 30px;
  }

  .popup-feedback__container {
    padding: 40px;
    padding-top: 60px;
    gap: 40px;
  }

  .popup-form__container {
    padding: 40px;
    padding-top: 60px;
  }

  .popup__close {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 800px) {
  .video__desc {
    gap: 30px;
  }

  .video__icon {
    width: 60px;
    height: 60px;
    outline-offset: 6px;
  }

  .wrapper__box {
    grid-template-columns: 32% 1fr;
  }

  .wrapper__slider {
    margin-bottom: 30px;
  }

  .wrapper {
    grid-template-columns: 100%;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__video {
    height: 350px;
  }

  .about {
    background: unset;
  }

  .infrastructure {
    background: unset;
  }

  .location__img {
    height: 350px;
  }

  .location {
    background: unset;
  }

  .apartments__title {
    margin-bottom: 30px;
  }

  .apartments__txt {
    margin-bottom: 30px;
  }

  .booklet__slider {
    height: 350px;
    max-height: unset;
  }

  .booklet__title {
    margin-bottom: 30px;
  }

  .booklet__txt {
    margin-bottom: 30px;
  }

  .booklet__pagin {
    bottom: 30px;
    right: 30px;
  }

  .advantages__title {
    margin-bottom: 30px;
  }

  .advantages__txt {
    margin-bottom: 30px;
  }

  .advantages__card {
    gap: 20px;
  }

  .advantages {
    background: unset;
  }

  .interior-dark__title {
    margin-bottom: 30px;
  }

  .interior-dark .swiper-slide {
    width: 80%;
  }

  .interior-dark__pagin {
    width: 95%;
  }

  .interior {
    background: unset;
  }

  .method__caption {
    margin-bottom: 30px;
  }

  .method__list li {
    margin-bottom: 30px;
    padding-left: 30px;
  }

  .method__list {
    margin-bottom: 30px;
  }

  .instagram__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .instagram__btn {
    grid-column: span 2;
    width: 100%;
  }

  .slider {
    width: 100%;
    left: 16px;
    right: unset;
  }

  .slide {
    max-width: unset;
    width: 40%;
  }

  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -30px;
  }

  .swiper-button {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 767px) {
  h1 {
    font: 700 2.5em/1.2 SF;
  }

  h2 {
    font: 600 1.8em/1.2 SF;
  }

  h3 {
    font: 500 1.2em/1.2 SF;
  }

  h4 {
    font: 500 1.1em/1.2 SF;
  }

  h5 {
    font: 500 1em/1.5 SF;
  }

  .footer__row {
    padding: 40px 0;
    grid-template-columns: 100%;
    gap: 40px;
  }

  .footer__logo {
    grid-column: unset;
    gap: 40px;
  }

  .section_top {
    padding-top: 40px;
  }

  .section {
    padding: 40px 0;
  }

  .apartments__caption {
    font: 600 1.5em/1 SF;
  }

  .method__img {
    margin: 0 -16px;
    margin-bottom: 20px;
  }

  .method__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .popup-feedback__container {
    padding: 30px;
    padding-top: 60px;
    gap: 30px;
  }

  .popup-form__container {
    padding: 30px;
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }

  .link svg {
    width: 20px;
    height: 20px;
  }

  .video__desc {
    gap: 20px;
  }

  .video__icon svg {
    width: 14px;
    height: 20px;
  }

  .video__icon {
    width: 50px;
    height: 50px;
    outline-offset: 5px;
  }

  .video__duration {
    font-size: 12px;
  }

  .wrapper__box {
    grid-template-columns: 1fr;
  }

  .cards {
    gap: 20px;
  }

  .card__caption {
    margin-bottom: 10px;
  }

  .card {
    padding-top: 20px;
  }

  .sticky__box {
    bottom: 30px;
    right: 30px;
  }

  .sticky__icon svg {
    width: 25px;
    height: 25px;
  }

  .sticky__icon {
    padding: 15px;
  }

  .dara__logo {
    width: 120px;
    height: 180px;
  }

  .dara__desc {
    max-width: unset;
  }

  .about__desc {
    margin-bottom: 30px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__txt {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .apartments__title {
    margin-bottom: 20px;
  }

  .apartments__txt {
    margin-bottom: 20px;
  }

  .booklet__title {
    margin-bottom: 20px;
  }

  .booklet__txt {
    margin-bottom: 20px;
  }

  .booklet__pagin {
    bottom: 20px;
    right: 20px;
  }

  .advantages__title {
    margin-bottom: 20px;
  }

  .advantages__txt {
    margin-bottom: 20px;
  }

  .advantages__card {
    gap: 10px;
  }

  .advantages__caption {
    margin-bottom: 0;
    font: 500 1em/1.5 SF;
  }

  .interior-dark__title {
    margin-bottom: 20px;
  }

  .method__caption {
    margin-bottom: 20px;
  }

  .method__title {
    margin-bottom: 20px;
  }

  .method__txt {
    margin-bottom: 20px;
  }

  .method__list li {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .method__list {
    margin-bottom: 20px;
  }

  .instagram__btn {
    grid-column: unset;
  }

  .slide {
    width: 80%;
  }

  .popup-feedback__container {
    max-width: 85vw;
  }

  .popup-form__container {
    max-width: 85vw;
  }
}