@charset "UTF-8";

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Light.woff2") format("woff2"), url("../fonts/DMSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-SemiBold.woff2") format("woff2"), url("../fonts/DMSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Light.woff2") format("woff2"), url("../fonts/Inter_24pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Regular.woff2") format("woff2"), url("../fonts/Inter_24pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Medium.woff2") format("woff2"), url("../fonts/Inter_24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter_24pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Bold.woff2") format("woff2"), url("../fonts/Inter_24pt-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Light.woff2") format("woff2"), url("../fonts/DMSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-SemiBold.woff2") format("woff2"), url("../fonts/DMSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Light.woff2") format("woff2"), url("../fonts/Inter_24pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Regular.woff2") format("woff2"), url("../fonts/Inter_24pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Medium.woff2") format("woff2"), url("../fonts/Inter_24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter_24pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter_24pt-Bold.woff2") format("woff2"), url("../fonts/Inter_24pt-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --light: #FFFFFF;
  --dark: #000000;
  --main: #F8DC3E;
  --txt-dark: #262626;
  --txt-light: #F7F4F6;
  --blue: #0F2137;
}

/* Указываем box sizing */

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 400 18px/1.4 Rubik;
  color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: url(../img/back.png) top/100% no-repeat, #010101;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(1, 1, 1, 0.5);
}

::-webkit-scrollbar-thumb {
  background: var(--main, #F8DC3E);
  border-radius: 4px;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1260px;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 150px;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  text-align: center;
  font: 600 16px/1.4 DMSans;
  transition: all 0.2s ease-in-out;
}

.button svg,
.button path {
  transition: all 0.2s ease-in-out;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  transform: translateY(-3px);
  color: var(--light, #FFFFFF);
  box-shadow: 0 10px 20px 0 rgba(248, 220, 62, 0.3);
}

.button:disabled {
  opacity: 0.5;
}

.button_primary {
  color: var(--blue, #0F2137);
  background-color: var(--main, #F8DC3E);
  letter-spacing: -0.16px;
}

.button_dark {
  color: var(--light, #FFFFFF);
  background-color: var(--dark, #000000);
  font-family: Rubik;
  font-weight: 500;
}

.button_dark:hover:not(:disabled) {
  cursor: pointer;
  transform: translateY(-3px);
  color: var(--main, #F8DC3E);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.button_dark:hover:not(:disabled) svg {
  transform: translateX(5px);
}

.button_dark:hover:not(:disabled) path {
  fill: var(--main, #F8DC3E);
}

h1 {
  font: 700 90px/1.1 Rubik;
}

h2 {
  font: 700 60px/1.1 Rubik;
}

h3 {
  font: 600 40px/1.1 Rubik;
}

h4 {
  font: 500 24px/1.2 Rubik;
}

h5 {
  font: 500 20px/1.2 Rubik;
}

h6 {
  font: 500 18px/1.2 Rubik;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: background 0.3s ease-out;
}

.header.scroll {
  background: rgb(1, 1, 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.header__logo {
  display: block;
  width: 255px;
  height: 26px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  transition: all 0.2s ease-in-out;
}

.header__nav.open {
  left: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__menu li {
  position: relative;
}

.header__menu a {
  position: relative;
  display: block;
  width: -moz-max-content;
  width: max-content;
}

.header__menu a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--light, #FFFFFF);
  transition: width 0.3s ease-out;
}

.header__menu a:hover::after {
  width: 100%;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__box_mb {
  display: none;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .link {
  display: block;
  transition: color 0.3s ease-out;
}

.header .link:hover {
  color: var(--main, #F8DC3E);
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__burger span {
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 100%;
  pointer-events: none;
  background-color: var(--main, #F8DC3E);
  transition: all 0.2s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: 0;
}

.header__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger span:nth-child(3) {
  bottom: 0;
}

.header__burger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.header__burger.active span:nth-child(2) {
  display: none;
}

.header__burger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

.footer {
  color: var(--txt-light, #F7F4F6);
  font-family: Inter;
  font-size: 16px;
}

.footer a:not(.social):not(.footer__logo) {
  transition: color 0.3s ease-out;
}

.footer a:not(.social):not(.footer__logo):hover {
  color: var(--main, #F8DC3E);
}

.footer__wrap {
  padding: 70px 0;
  background: #2B2B2B;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
}

.footer__caption {
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F7F4F6;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__bottom {
  padding: 30px 0;
  background: #000000;
}

.footer__copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__logo {
  width: 197px;
  height: 20px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__info a {
  padding-left: 20px;
  border-left: 1px solid #636262;
}

.section-pad {
  padding: 70px 0;
}

.section-pad_top {
  padding-top: 70px;
}

.section-pad_bottom {
  padding-bottom: 70px;
}

.title_up {
  text-transform: uppercase;
}

.title_center {
  text-align: center;
}

.title_primary {
  color: var(--main, #F8DC3E);
  letter-spacing: 1px;
}

p.medium {
  font-weight: 500;
}

.video {
  position: relative;
  display: block;
  height: 455px;
  border-radius: 32px;
  background-color: #0D384B;
  overflow: hidden;
}

.video img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url(../img/play.svg) center/contain no-repeat;
  z-index: 1;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #F7F4F6;
  transition: all 0.3s ease-out;
}

.social:hover {
  transform: scale(1.1);
}

.number {
  color: #53D0A2;
  font-size: 333px;
  font-weight: 700;
  line-height: 100px;
}

.section {
  overflow: hidden;
}

.section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.section__container.left {
  gap: 130px;
}

.section__container.left .section__box {
  align-items: flex-end;
}

.section__container.left .section__title {
  text-align: end;
}

.section__container.left .section__desc {
  max-width: 470px;
  text-align: end;
}

.section__container.right {
  gap: 80px;
}

.section__container.right .section__box {
  order: 1;
}

.section__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section__img {
  position: relative;
  max-height: 560px;
  height: 39vw;
  min-height: 400px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  z-index: -1;
}

.section-down {
  padding: 140px 0;
}

.section-down__container {
  padding: 50px 80px;
  border-radius: 30px;
  background: linear-gradient(99deg, #FFDC00 0%, #FFE438 46%, #EFD858 96.97%);
}

.section-down__title {
  margin-bottom: 30px;
  color: var(--dark, #000000);
  text-align: center;
}

.section-down__desc {
  max-width: 815px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--txt-dark, #262626);
  font-size: 22px;
  text-align: center;
}

.section-down__btn {
  margin: 0 auto;
}

.section-lg__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-lg__container.left .section-lg__box {
  order: 1;
}

.section-lg__container.right .section-lg__box {
  order: 0;
}

.section-lg__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}

.section-lg__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-lg__desc p {
  margin-bottom: 20px;
}

.section-lg__desc p:last-of-type {
  margin-bottom: 0;
}

.section-lg__desc ul,
.section-lg__desc ol {
  list-style-position: outside;
  padding-left: 20px;
  margin-bottom: 20px;
}

.section-lg__desc ul:last-of-type,
.section-lg__desc ol:last-of-type {
  margin-bottom: 0;
}

.section-lg__desc li {
  margin-bottom: 20px;
}

.section-lg__desc li:last-child {
  margin-bottom: 0;
}

.section-lg__img {
  position: relative;
  max-height: 560px;
  height: 39vw;
  min-height: 400px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.section-lg__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-lg__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  z-index: -1;
}

.hero__container {
  padding-top: 60px;
}

.hero__title {
  margin-bottom: 140px;
}

.hero__wrap {
  display: grid;
  grid-template-columns: 1fr 35.67vw;
  gap: 40px;
}

.hero__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check__img {
  max-height: 750px;
}

.check__img::before {
  background: url(../img/green.png) center/cover no-repeat;
}

.security__img {
  max-height: 750px;
}

.security__img::before {
  background: url(../img/red.png) center/cover no-repeat;
}

.work__img {
  max-height: 645px;
}

.work__img::before {
  width: 200%;
  background: url(../img/blue.png) center/cover no-repeat;
}

.work-2 .work__img {
  max-height: 432px;
}

.work-2 .work__img::before {
  content: none;
}

.integration__img {
  max-height: 560px;
}

.integration__img::before {
  height: 200%;
  background: url(../img/purple.png) center/cover no-repeat;
}

.integration-2 .integration__img {
  max-height: 510px;
}

.integration-2 .integration__img::before {
  content: none;
}

.mrz__img {
  max-height: 740px;
}

.mrz__img::before {
  background: url(../img/blue-lg.png) center/cover no-repeat;
}

.document__img {
  max-height: 670px;
}

.document__img::before {
  background: url(../img/orange.png) center/cover no-repeat;
}

.feedback__img {
  max-height: 675px;
}

.analytics__img {
  max-height: 566px;
}

.additional__img {
  max-height: 612px;
}

.safety__desc {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.safety__number {
  margin-top: 100px;
  text-align: center;
}

.safety__img {
  height: 354px;
}

.face__img {
  max-height: 584px;
}

.face__img::before {
  height: 200%;
  background: url(../img/purple.png) center/cover no-repeat;
}

.face__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.face__group img {
  width: 286px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.adapting__img {
  max-height: 455px;
  min-height: 320px;
}

.adapting__number {
  display: none;
}

@media (max-width: 1200px) {
  .number {
    font-size: 300px;
  }

  .section-down {
    padding: 100px 0;
  }

  .hero__title {
    margin-bottom: 100px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    max-width: none;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .header__container {
    justify-content: flex-end;
    height: 76px;
    padding: 18px 0;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 3;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    padding: 40px;
    padding-top: 100px;
    background-color: #010101;
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .header__box {
    display: none;
  }

  .header__box_mb {
    display: flex;
    /* flex-direction: column; */
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
  }

  .header__box_mb .button {
    min-width: unset;
    padding: 10px 15px;
  }

  .header__burger {
    display: block;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer__copy {
    justify-content: center;
  }

  .footer__socials {
    order: -1;
  }

  .number {
    font-size: 250px;
    line-height: 70px;
  }

  .section-down {
    padding: 70px 0;
    background: linear-gradient(99deg, #FFDC00 0%, #FFE438 46%, #EFD858 96.97%);
  }

  .section-down__container {
    padding: 0;
    border-radius: 0;
    background: unset;
  }

  .hero__title {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  body {
    background-image: url(../img/back-mob.png);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .video {
    height: 264px;
  }

  .number {
    font-size: 100px;
    line-height: 30px;
  }

  .section__container.left {
    gap: 20px;
  }

  .section__container.right {
    gap: 20px;
  }

  .section__container {
    grid-template-columns: 100%;
    gap: 20px;
  }

  .section__box {
    order: 1;
  }

  .section-down {
    padding: 50px 0;
  }

  .section-down__title {
    margin-bottom: 20px;
  }

  .section-down__desc {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .section-lg__container.right .section-lg__box {
    order: 1;
  }

  .section-lg__wrap {
    grid-template-columns: 100%;
    gap: 30px;
  }

  .section-lg__box {
    gap: 30px;
  }

  .hero__container {
    padding-top: 12px;
  }

  .hero__title {
    margin-bottom: 40px;
  }

  .hero__wrap {
    grid-template-columns: 100%;
  }

  .hero__box {
    order: 1;
  }

  .work-2 .work__img::before {
    content: "";
    width: 200%;
    background: url(../img/blue.png) center/cover no-repeat;
  }

  .integration-2 .integration__img::before {
    content: "";
    width: 200%;
    background: url(../img/blue.png) center/cover no-repeat;
  }

  .integration-2 {
    padding-bottom: 70px;
  }

  .feedback {
    padding-bottom: 70px;
  }

  .additional__img::before {
    width: 200%;
    background: url(../img/blue.png) center/cover no-repeat;
  }

  .safety__number {
    margin-top: 40px;
  }

  .face__btn {
    order: 1;
  }

  .adapting__number {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media (max-width: 600px) {
  .footer__wrap {
    padding: 50px 0;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer__menu {
    gap: 20px;
  }

  .footer__bottom {
    padding: 20px 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}