html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3em;
  color: #283071;
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


/*container*/
.container {
  max-width: 1740px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media (max-width: 1650px) {
  .container {
      max-width: 1532px;
  }
}
@media (max-width: 1450px) {
  .container {
      max-width: 1400px;
  }
}
/*@media (max-width: 1300px) {
  .container {
      max-width: 1100px;
  }
}*/
@media (max-width: 1200px) {
  .container {
      max-width: 1180px;
  }
}
@media (max-width: 1100px) {
  .container {
      max-width: 980px;
  }
}
@media (max-width: 980px) {
  .container {
      width: 100%;
      max-width: unset;
  }
}

/*fonts*/

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Nunito/Nunito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
}


@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NunitoSans/NunitoSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NunitoSans/NunitoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NunitoSans/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NunitoSans/NunitoSans-Bold.ttf') format('truetype');
}