/* -----  Start Header  -----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  transition: all 0.3s linear;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px);
  border-radius: 0px 0px 50px 50px;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px 0;
  transition: all 0.3s ease;
}
.header__logo {
  width: 84px;
  height: 84px;
}
.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nav__list {
  display: flex;
  font-family: 'Nunito';
  font-size: 22px;
  line-height: 100%;
}
.nav__list li {
  margin-right: 70px;
}
.nav__list li:last-child {
  margin-right: 0;
}
.nav__list a {
  transition: all 0.3s ease;
}
.nav__list a:hover {
  color: #FFDF5C;
}
.header__items {
  display: flex;
  align-items: center;  
}
.header__lang-switch {
  display: flex;  
  font-size: 22px;
}
.header__lang-switch li {
  margin-right: 3px;
}
.header__lang-switch li:last-child {
  margin-right: 0;
}
.header__lang-switch a {
  padding: 15px;
  border-radius: 80px;
  transition: all 0.3s ease;
}
.header__lang-switch a.active {
  background-color: #FFDF5C;
  pointer-events: none;
}
.header__lang-switch a:hover {
  color: #7FD856;
}
.header__button {
  margin-right: 28px;
}
.header__burger {
  width: 30px;
  height: 20px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  display: none;
}
.header__burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
  transform-origin: left center;
}
.header__burger span:nth-child(1) {
  top: 0px;
}
.header__burger span:nth-child(2) {
  top: 7px;
}
.header__burger span:nth-child(3) {
  top: 14px;
}
/* -----  End Header  -----*/

/* button */
.button {
  display: block;
  width: max-content;
  padding: 20px 30px;
  background-color: #7FD856;
  border: none;
  border-radius: 30px;
  font-family: 'Nunito';
  font-size: 22px;
  line-height: 1em;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #FFDF5C;
}

/*title*/
.caption {
  font-family: 'Nunito';
  font-weight: 700;
  line-height: 1.1em;  
}
h1{
  font-size: 110px;
  font-weight: 800;
} 
h2  {
  font-size: 48px;
  text-transform: uppercase;
}

/*----- start section School -----*/
.school {
  padding-top: 220px;
  padding-bottom: 400px;
  background: url('../img/bg-home-desktop.png') #fff center no-repeat;
  background-size: cover;
}
.school__content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.school__title {
  margin-bottom: 40px;
}
.school__title span {
  display: block;
  max-width: 636px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.school__text {
  max-width: 700px;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.3em;
}
.school__images {
  position: relative;
}
.school__images::before {
  position: absolute;
  top: 0;
  left: 10%;
  content: '';
  width: 140px;
  height: 120px;
  background: url(../img/stars-1.svg) center no-repeat;
  background-size: contain;
}
.school__images::after {
  position: absolute;
  bottom: -5%;
  right: 0;
  content: '';
  width: 140px;
  height: 120px;
  background: url(../img/stars-2.svg) center no-repeat;
  background-size: contain;
}
.school__img {
  position: relative;
}
.school__img::before {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 630px;
  height: 630px;
  background-color: #FFDF5C;
  border-radius: 100%;
}
.image__girl {
  position: relative;
  width: 660px;
  height: 700px;
  margin: 0 auto;
  z-index: 2;
}
.image__girl img {
  object-fit: contain;
  border-radius: 0 0 100% 100%;
}
.school__social {
  display: flex;
  align-items: center;
}
.school__social {
  font-size: 22px;
}
.school__social a {
  margin-right: 20px;
  line-height: 1;
}
/*----- end section School -----*/

/*----- start section About -----*/
.about {
  padding-bottom: 50px;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 40px;
  padding: 100px 50px;
  margin-top: -300px;
  border-radius: 50px;
  background: url(../img/back-1.png) #fff center no-repeat;
  background-size: cover;
}
.about__img {
  width: 790px;
  height: 780px;
}
.about__img {
  object-fit: contain;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  margin-bottom: 80px;
}
.about__text p {
  margin-bottom: 20px;
}
.about__text p:last-of-type {
  margin-bottom: 0;
}
.about__list {
  position: relative;
  height: 220px;
  max-width: 740px;
  font-size: 30px;
}
.about__list::after{
  position: absolute;
  top: 100%;
  left: 45%;
  content: '';
  display: block;
  width: 140px;
  height: 112px;
  background: url(../img/stars-1.svg) center no-repeat;
  background-size: contain;
  transform: translateX(-50%);
}
.list__item {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: max-content;
  padding: 20px 40px;
  border-radius: 20px;
}
.exams {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(5deg);
  background-color: #FFDF5C;
}
.works {
  left: 0;
  bottom: 0;
  background-color: #DDD6FD;
  transform: rotate(-7deg);
}
.travels {
  right: 0;
  bottom: 0;
  background-color: #96E1D6;
  transform: rotate(3deg);
}
.list__item svg {
  margin-right: 20px;
}
/*----- end section About -----*/

/*----- start section Levels -----*/
.levels__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 40px;
  padding: 100px 50px;
  border-radius: 50px;
  background: url(../img/back-2.png) #DDD6FD center no-repeat;
  background-size: cover;
}
.levels__title {
  margin-bottom: 40px;
}
.levels__text {
  margin-bottom: 25px;
  font-size: 30px;
}
.levels__text p {
  margin-bottom: 20px;
}
.levels__text p:last-of-type {
  margin-bottom: 0;
}
.levels__list {
  display: grid;
  grid-template-columns: repeat(2,auto);
  align-items: center;
  gap: 15px 150px;
  margin-bottom: 45px;
}
.levels__list li {
  position: relative;
  padding-left: 60px;
  line-height: 1.4em;
}
.levels__list li::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: url(../img/star-list.svg) center no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.levels__img {
  position: relative;
  width: 412px;
  height: 437px;
  margin: 0 auto;
}
.levels__img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #FFDF5C;
  border-radius: 20px;
}
.levels__img img {
  position: relative;
  border-radius: 20px;
  z-index: 1;
}
/*----- end section Levels -----*/

/*----- start section  -----*/
/*----- end section  -----*/

/*----- start section  -----*/
/*----- end section  -----*/

/*----- start section  -----*/
/*----- end section  -----*/

/*----- start section  -----*/
/*----- end section  -----*/

/*------ start Responsive ------*/
@media (max-width: 1800px) {
  .nav__list li {
    margin-right: 50px;
  }
  .header__lang-switch a {
    padding: 12px 14px;
  }
  .button {
    padding: 16px 30px;
  }
  h1 {
    font-size: 90px;
  }
  .school__title span {
    font-size: 40px;
  }
  .school__text {
    font-size: 28px;
  }
}
@media (max-width: 1600px) {
  h1 {
    font-size: 80px;
  }
  h2  {
    font-size: 40px;
  }
  .school__title span {
    font-size: 36px;
    line-height: 1.1em;
  }
  .school__text {
    font-size: 24px;
  }
  .school__img::before {
    width: 530px;
    height: 530px;
  }
  .image__girl {
    width: 560px;
    height: 600px;
  }
  .about__text, .levels__list {
    font-size: 22px;
  }
  .about__img {
    width: 590px;
    height: 580px;
  }
  .about__list, .levels__text {
    font-size: 24px;
  }
  .about__container, .levels__container {
    padding: 80px 40px;
  }
  .about__list::after{
    top: 90%;
    width: 100px;
    height: 80px;
  }
  .list__item  {
    padding: 16px 30px;
  }
  .levels__list {
    gap: 15px 100px;
  }
  .levels__list li::before {
    width: 35px;
    height: 35px;
  }

}
@media (max-width: 1440px) {
  .header__logo {
    width: 74px;
    height: 74px;
  }
  .nav__list {
    font-size: 18px;
  }
  .nav__list li {
    margin-right: 30px;
  }
  .header__lang-switch {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
  h1 {
    font-size: 70px;
  }
  h2  {
    font-size: 32px;
  }
  .school {
    padding-top: 180px;
    padding-bottom: 300px;
  }
  .school__title {
    margin-bottom: 30px;
  }
  .school__title span {
    font-size: 35px;
  }
  .school__text {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .school__social, .about__text {
    font-size: 20px;
  }
  .about__container {
    margin-top: -200px;
  }
  .about__img {
    width: 490px;
    height: 480px;
  }
  .about__text {
    margin-bottom: 60px;
  }
  .about__list {
    height: 150px;
    max-width: unset;
  }
  .about__list::after{
    top: 100%;
    width: 80px;
    height: 60px;
  }
  .list__item  {
    padding: 12px 24px;
  }
  .exams {
    transform: translateX(-50%) rotate(3deg);
  }
  .works {
    transform: rotate(-4deg);
  }
  .travels {
    transform: rotate(1deg);
  }
  .levels__img {
    width: 312px;
    height: 337px;
  }
  .levels__text {
    font-size: 22px;
  }
  .levels__list {
    font-size: 18px;
    gap: 15px 50px;
  }
  .levels__list li {
    padding-left: 45px;
  }
  .levels__list li::before {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1350px) {
  h1 {
    font-size: 65px;
  }
  .school__title span {
    font-size: 30px;
  }
  .school__text {
    font-size: 20px;
  }
  .school__img::before {
    width: 430px;
    height: 430px;
  }
  .school__images::before, .school__images::after {
    width: 100px;
    height: 90px;
  }
  .image__girl {
    width: 460px;
    height: 500px;
  }
  .school__social {
    font-size: 18px;
  }
  .school__social svg {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1200px) {
  .nav__list li {
    margin-right: 20px;
  }
  .button {
    padding: 14px 20px;
  }
  .school {
    padding-top: 140px;
    padding-bottom: 180px;
  }
  .school__images::before, .school__images::after {
    width: 90px;
    height: 80px;
  }
  .school__social {
    font-size: 16px;
  }
  .school__social svg {
    width: 28px;
    height: 28px;
  }
  .school__social, .about__text, .levels__text {
    font-size: 18px;
  }
  .about__list {
    height: unset;
  }
  .list__item {
    position: relative;
    left: unset;
    top: unset;
    transform: translateX(0) rotate(0);
    margin-bottom: 20px;
    font-size: 20px;
  }
  .list__item:last-of-type {
    margin-bottom: 0;
  }
  .list__item svg {
    width: 25px;
    height: 25px;
  }
  .about__container {
    margin-top: -100px;
  }
  .about__list::after {
    left: 90%;
  }
  .about__img {
    width: 100%;
    height: unset;
  }
  .about__title, .levels__title {
    margin-bottom: 30px;
  }
  .about__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 1100px) {
  .header__lang-switch {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 28px;
  }
  .school__title span {
    font-size: 22px;
    max-width: 320px;
  }
  .school__text {
    font-size: 18px;
  }
  .school__img::before {
    width: 330px;
    height: 330px;
  }
  .image__girl {
    width: 360px;
    height: 400px;
  }
}
@media (max-width: 980px) {
  .header__logo {
    width: 64px;
    height: 64px;
  } 
  .nav__list {
    font-size: 16px;
  } 
  .header__lang-switch {
    font-size: 14px;
  }
  .header__lang-switch a {
    padding: 10px 12px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  .button {
    padding: 12px 20px;
    font-size: 14px;
  }
  .school__title span {
    font-size: 20px;
  }
  .school__text {
    font-size: 16px;
  }
  .about__container, .levels__container {
    grid-template-columns: 1fr;
  }
  .levels__content {
    order: 1;
  }
  .about__container, .levels__container {
    padding: 40px;
  }
  .about__list::after {
    top: unset;
    bottom: 0;
  }
  .levels__img {
    width: 80%;
    height: 320px;
  }
  .about__img {
    height: 320px;
  }
  .about__img img {
    object-fit: contain;
  }
}
@media (max-width: 810px) {
  .header__button {
    display: none;
  }
}
@media (max-width: 768px) {
  .school {
    padding-bottom: 150px;
  }
  .school__text {
    max-width: 400px;
  }
  .school__img::before {
    width: 200px;
    height: 200px;
  }
  .school__images::before, .school__images::after {
    width: 60px;
    height: 40px;
  }
  .school__images::before {
    left: 0;
  }
  .image__girl {
    width: 220px;
    height: 250px;
  }
  .school__title, .about__title, .levels__title {
    margin-bottom: 20px;
  }
  .school__text, .about__text, .levels__list {
    margin-bottom: 30px;
  }
  .about__list::after {
    content: none;
  }
  .about__container, .levels__container {
    padding: 30px;
  }
  .school__social, .about__text, .levels__text, .levels__list {
    font-size: 16px;
  }
  .list__item {
    border-radius: 10px;
  }
}
@media (max-width: 640px) {
  /* .header__burger {
    display: block;
  } */
  .header {
    border-radius: 0px 0px 30px 30px;
  }
  .header__items {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .header__logo {
    width: 54px;
    height: 54px;
  } 
  .header__nav {
    width: 100%;
    order: 1;
    margin: 0 auto;
  }
  .nav__list {
    justify-content: center;
    margin-top: 10px;
  }
  .header__lang-switch a {
    padding: 6px 8px;
  }
  .button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .school__title span {
    font-size: 16px;
  }
  .school__content {
    grid-template-columns: 1fr;
  }
  .school__description {
    order: 1;
  }
  .school__text, .school__title span {
    max-width: unset;
  }
  .school__social {
    flex-wrap: wrap;
    justify-content: center;
  }
  .list__item {
    width: 100%;
    max-width: unset;
  }
  .levels__list {
    gap: 15px;
  }
  .about__container, .levels__container {
    padding: 20px;
    border-radius: 30px;
  }
}
@media (max-width: 480px) {
  .nav__list {
    font-size: 14px;
  }
  .nav__list li {
    margin-right: 15px;
  }
  .levels__list {
    grid-template-columns: 1fr;
  }
}
/*------ end Responsive ------*/