@import "fonts";
@import "vars.scss";
@import "global.scss";
@import "mixins.scss";

.header {
  position: relative;
  background-color: $main;
  color: $light;
  @media (max-width: 980px) {
    position: absolute;
    top: 0;
    left: 100vw;
    min-height: 100vh;
    min-width: 320px;
    z-index: 99;
    &.open {
      left: 100%;
      transform: translateX(-100%);
    }
  }
  &__logo {
    position: relative;
    display: block;
    padding: 1.5rem 3.125rem;
    @media (max-width: 1440px) {
      padding: 1.25rem 3rem;
    }
    @media (max-width: 1200px) {
      padding: 1.25rem 2rem;
    }
    @media (max-width: 1100px) {
      padding: 1.25rem;
    }
    img {
      width: 64%;
      height: 40%;
      object-fit: contain;
      @media (max-width: 1600px) {
        width: 70%;
      }
    }
  }
  &__menu {
    font: 500 1.25em/1 futura;
    @media (max-width: 980px) {
      font-size: 1em;
    }
    a {
      display: flex;
      align-items: center;
      padding: 1.25rem 3.125rem;
      @include transition;
      @media (max-width: 1440px) {
        padding: 1.25rem 3rem;
      }
      @media (max-width: 1200px) {
        padding: 1.25rem 2rem;
      }
      @media (max-width: 1100px) {
        padding: 1.25rem;
      }
      &.active {
        background-color: #469EF8;
        pointer-events: none;
      }
      &:hover {
        background-color: #3F8DDE;
      }
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1.25rem;
      @media (max-width: 1100px) {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
.footer {
  padding: 0.75rem;
  background-color: #B4C6D0;
  &__container {
    font-size: 1.25em;
    text-align: center;
  }
}
.cabinet {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 66% 34%;
    min-height: 100vh;
    @media (max-width: 1200px) {
      grid-template-columns: 60% 40%;
    }
    @media (max-width: 980px) {
      grid-template-columns: 50% 50%;
    }
    @media (max-width: 820px) {
      grid-template-columns: 100%;
    }
  }
  &__images {
    position: relative;
    min-height: 100vh;
    padding: 2rem;
    background: linear-gradient(206.57deg, #679CF6 16.67%, #4072EE 100%);
    overflow: hidden;
    @media (max-width: 820px) {
      min-height: 34vh;
    }
  }
  &__img {
    @include position-abs;
    overflow: hidden;
    img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      object-position: 0%;
      @media (max-width: 820px) {
        object-fit: contain;
        object-position: 50% 0%;
      }
    }
  }
  &__logo {
    display: block;
    width: 9%;
    height: 2.2%;
    @media (max-width: 980px) {
      width: 16%;
      height: 8%;
    }
  }
  &__content {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 2rem 7.2rem;
    @media (max-width: 1600px) {
      padding: 2rem 5rem;
    }
    @media (max-width: 1440px) {
      padding: 2rem 3rem;
    }
    @media (max-width: 820px) {
      width: 100%;
      max-width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 600px) {
      max-width: 100%;
      margin: 0;
      padding: 2rem;
    }
  }
  &__title {
    margin-bottom: 0.625rem;
    font: 500 3.125em/1 futura ;
    @media (max-width: 1600px) {
      font-size: 3em;
    }
    @media (max-width: 1440px) {
      font-size: 2.5em;
    }
    @media (max-width: 980px) {
      font-size: 2em;
    }
  }
  &__subtitle {
    margin-bottom: 3.125rem;
    color: $gray;
    font-size: 1.5em;
    span {
      border-bottom: 1px solid $gray;
    }
    @media (max-width: 1600px) {
      margin-bottom: 3rem;
      font-size: 1.25em;
    }
    @media (max-width: 1440px) {
      margin-bottom: 2rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 1.25rem;
      font-size: 1em;
    }
  }
  &__input {
    position: relative;
    display: grid;
  }
  &__pass {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    svg {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__button {
    width: 100%;
    padding: 1.125rem 3.125rem;
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #6095F5;
    color: $light;
    font: 500 1.5em/1 futura;
    &:hover {
      background-color: $main;
    }
    @media (max-width: 1440px) {
      padding: 1rem 3rem;
      margin-bottom: 1.8rem;
      font-size: 1.25em;
    }
    @media (max-width: 980px) {
      margin-bottom: 1.5rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 1.25rem;
    }
  }
  &__forget {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1.25em;
    line-height: 1.2em;
    a {
      border-bottom: 1px solid $gray;
      @include transition;
      &:hover {
        color: $main;
        border-color: $main;
      }
    }
    @media (max-width: 767px) {
      font-size: 1em;
    }
  }
}
.page {
  display: grid;
  grid-template-columns: 22% 1fr;
  min-height: 100vh;
  @media (max-width: 980px) {
    position: relative;
    grid-template-columns: 100%;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
}
.wrapper {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 3.75rem;
  background-color: #EFEFEF;
  border-bottom: 1px solid $blueLight;
  @media (max-width: 1440px) {
    margin-bottom: 3rem;
  }
  @media (max-width: 1100px) {
    margin-bottom: 2rem;
  }
  @media (max-width: 980px) {
    padding-right: 3.5rem;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__title {
    flex-grow: 1;
    font: 500 24px/1 futura;
  }
  &__user {
    width: 85px;
    height: 85px;
    @media (max-width: 1100px) {
      width: 60px;
      height: 60px;
    }
  }
  &__burger {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    transform: translateY(-50%);
    display: none;
    width: 25px;
    height: 20px;
    @media (max-width: 1200px) {
      width: 20px;
      height: 15px;
    }
    span {
      position: absolute;
      top: 0;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $dark;
      &:nth-child(2) {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 72%;
      }
      &:nth-child(3) {
        top: auto;
        bottom: 0;
      }
    }
    @media (max-width: 980px) {
      display: block;
    }
  }
}
main {
  flex-grow: 1;
}
.profile {
  padding-bottom: 3.75rem;
  @media (max-width: 1440px) {
    padding-bottom: 3rem;
  }
  @media (max-width: 1100px) {
    padding-bottom: 2rem;
  }
  &__container {
    display: grid;
    grid-template-columns: 22% 1fr;
    align-items: start;
    gap: 1.25rem;
    @media (max-width: 1600px) {
      grid-template-columns: 30% 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 70%;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid $blueLight;
    @media (max-width: 1440px) {
      padding: 1.5rem 2rem;
    }
    @media (max-width: 1200px) {
      padding: 1.5rem;
    }
    img {
      border-radius: 100%;
      @include full-img-contain;
    }
  }
  &__button {
    width: 100%;
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__card {
    @media (max-width: 767px) {
      max-width: 370px;
      margin: 0 auto;
    }
  }
  &__wrap {
    padding: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid $blueLight;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $blueLight;
  }
  &__inner {
    margin-bottom: 2rem;
    font: 500 1.25em/1.2 futura;
    span {
      margin-bottom: 0.6rem;
      color: $gray;
      font-weight: 400;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__form {
    max-width: 430px;
    margin: 0 auto;
  }
  &__input {
    position: relative;
    display: grid;
  }
  &__pass {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    svg {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.theory {
  padding-bottom: 3.75rem;
  @media (max-width: 1440px) {
    padding-bottom: 3rem;
  }
  @media (max-width: 1100px) {
    padding-bottom: 2rem;
  }
  &__container {
    padding: 3rem 1.5rem;
    border: 1px solid $blueLight;
    border-radius: 0.3rem;
  }
  &__button {
    min-width: 150px;
    padding: 0.375rem 1.75rem;
    text-align: center;
  }
}
.accordion {
  &__item {
    padding: 1.5rem 1rem;
    padding-right: 0;
    border-top: 1px solid $blueLight;
    border-radius: 0.3rem;
    &:last-of-type {
      border-bottom: 1px solid $blueLight;
    }
    &::before  {
      top: 2.9rem;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    h5 {
      flex-grow: 1;
      @include transition;
      &:hover {
        cursor: pointer;
        color: $btn;
      }
    }
  }
  &__content {
    display: none;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.8em;
    a {
      @include transition;
      &:hover {
        color: $btn;
      }
    }
  }
}
