@import "fonts";
@import "vars.scss";
@import "global.scss";
@import "mixins.scss";

.cabinet {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 66% 34%;
    min-height: 100vh;
  }
  &__images {
    padding: 2rem;
    background: linear-gradient(206.57deg, #679CF6 16.67%, #4072EE 100%);
  }
  &__img {
    @include position-abs;
    img {
      height: 100vh;
      object-fit: contain;
    }
  }
  &__logo {
    display: block;
    width: 9%;
    height: 2.2%;
  }
  &__content {
    padding: 2rem;
  }
  &__title {
    margin-bottom: 1.5rem;
  }
}