/* 

--- Default Class---
caption //заголовки
text //текст
button //кнопки
list //списки
image //картинки

--- Image  ---
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

--- Section ---
padding: 150px 0;
min-height: 100vh; //если необходимо

--- Media  ---

1920x1080 -- 1600x900 -- 1366x768 //десктоп
1024x768 -- 768x1024 //планшет
480x320 -- 367x667 -- 320x480 //телефон

@media (max-width: 1650px) {}
@media (max-width: 1450px) {}
@media (max-width: 1250px) {}
@media (max-width: 1100px) {}
@media (max-width: 980px) {}
@media (max-width: 767px) {}
@media (max-width: 568px) {}
@media (max-width: 480px) {}

*/

/* -----  Start Header  -----*/
.header {
  position: relative;
  min-height: 100vh;
  max-width: max-content;
  z-index: 99;
  background: #F4F4F4;
  border-right: 1px solid rgba(26, 26, 26, 0.3);
  transition: all 0.2s ease-in-out;
}
.header__container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px;
}
.header__logo {
  width: 343px;
  height: 53px;
}
.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header__list {
  display: flex;
  flex-direction: column-reverse;
  column-gap: 32px;
  font-size: 14px;
  text-transform: uppercase;
  color: #1A1A1A;
}
.header__list__item {
  margin-bottom: 10px;
}
.header__list__item:first-child {
  margin-bottom: 0;
}
.header__list__item a {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.header__list__item a:hover {

}
.header__social {
  display: flex;
  flex-direction: column;
  opacity: 0.6;
}
.social__item {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
}
.social__item:last-child {
  margin-bottom: 0;
}
.header__icon {
  width: 40px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
.header__icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
.header__icon span:nth-child(1) {
  top: 0px;
}
.header__icon span:nth-child(2) {
  top: 7px;
}
.header__icon span:nth-child(3) {
  top: 14px;
}


/*----- start Section Developer -----*/
.developer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 40px 0;
}
.developer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}
.developer__description {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
}
.developer__description p {
  margin-bottom: 10px;
}
.developer__description p:last-of-type {
  margin-bottom: 0;
}
.developer__title {
  max-width: 1560px;
  text-transform: uppercase;
  text-align: end;
  color: rgba(26, 26, 26, 0.8);
  font-weight: 300;
  font-size: 250px;
  line-height: 1;
}
.developer__ticker {
  font-weight: 300;
  font-size: 120px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 0.4);
  overflow: hidden;
}
/*----- end Section Developer -----*/